[2018-02-12 17:02] pbuzdin opened #1 "wtf"
![image](https://user-images.githubusercontent.com/1329807/36109138-9c946554-102f-11e8-964d-8223cdb662fb.png)

[2018-02-13 03:32] amitguptagwl commented on #1
What is the issue @pbuzdin ?

[2018-02-13 07:46] pbuzdin commented on #1
Disturbing modal on the page

вт, 13 февр. 2018 г., 6:32 Amit Gupta <notifications@github.com>:

[2018-02-13 08:47] amitguptagwl commented on #1
Is it appearing only once (as expected) or repeatedly? or not being closed when you click on close button?

[2018-02-13 12:32] pbuzdin commented on #1
why it exists?

[2018-02-13 12:36] amitguptagwl commented on #1
Why shouldn't it be? It doesn't force you to do any action and appears only once. If you feel that this repository can't help you much, you are anyhow not gonna access that page again.

[2018-02-13 12:36] #1 closed

[2018-04-10 12:14] NIDHIPANDA opened #2 "On using imglab"
Hii,
I want to detect face from HOG based face detector using dlib's face detector and then train this for land mark detection using my dataset. Can I load this face points and generate one .xml file using this imglab tool. If yes how to do it. Is there any specific format to load the face points (i.e. 4 points of rectangle)
Please help me in this regard.

Regards
Nidhi

[2018-04-10 23:29] amitguptagwl commented on #2
I created this tool few months back so I exactly didn't remember if there is some feature displayed on webpage was left to implement.

Open the [imglab](https://naturalintelligence.github.io/imglab/) online. You'll find 'Browse' button right side to load the file. imglab don't restrict you to load file with specific number of landmarks.

I hope you must have already watched [video tutorial](https:

[2018-04-11 16:54] NIDHIPANDA commented on #2
Thank you Amit for your reply. I have watched your youtube video. It is shown there that we can browse landmark or face position. What I didn't understand it how to load points and use it. I tried to load images and corresponding face detected points using one xml file. But some how it didn't work. Do you have any written document on it. M not able to know what m missing.  As I said earlier **I wa

[2018-04-11 16:56] NIDHIPANDA commented on #2
The part of browsing an image and creating a rectangle on it and saving the point in dlib formate is working fine. But some problem is with loading face points.

[2018-04-12 12:44] amitguptagwl commented on #2
Hmm.. let me check

[2018-04-14 05:35] NIDHIPANDA commented on #2
Thank you for your response. I will wait for the updates.

[2018-04-14 07:46] amitguptagwl commented on #2
I'm done with basic refactoring. And you can restore face points from json now. I'm still working on loading face points from XML. It needs some changes in [fast-xml-parser](https://github.com/NaturalIntelligence/fast-xml-parser)... so keep watching

[2018-04-14 12:59] amitguptagwl commented on #2
I've done with rest of the changes. You can give a try now. I'll keep the card open for next few days. Please let me know if you face the issue.

Any new feature or enhancement may be delayed ;) but you can raise an issue always.

[2018-04-15 12:39] NIDHIPANDA commented on #2
Thank you so much. Now its working.

[2018-04-15 13:29] #2 closed

[2018-04-16 07:09] NIDHIPANDA commented on #2
I am facing a problem in using Face++ . I created a free account in face++ and got one api_key and api_secret. It is showing "**Error in connecting face++ API. Check console for more deetail"**. **What does it mean?**  There is one console option in face++. For my account console is as the image I have attached.
![screenshot from 2018-04-16 18-07-46](https://user-images.githubusercontent.com/23721

[2018-04-16 07:22] amitguptagwl opened #3 "Face ++ API integration fails"
Latest refactoring have broken Face ++ integration.

As per console log,
[code]

[2018-04-16 07:30] amitguptagwl commented on #2
@NIDHIPANDA It looks like, there is no issue with Face++ API. I'm fixing the integration part. The issue that you are facing is completely related to face++. Please drop an email to them. Most of the newly registered users faces issue.

[2018-04-16 07:35] amitguptagwl commented on #3
Fixed

[2018-04-16 07:35] #3 closed

[2018-04-16 10:25] NIDHIPANDA opened #4 "Save feature points which are generated via. face++ API"
Can I save the face and landmark point which I am getting by using face++ API. I tried to save it but the generated .xml file in not including any points.

[2018-04-16 11:59] amitguptagwl commented on #4
Please remember that when you fetch some data from face++, it has more detail than only face location and landmark points. When you export it into dlib xml or pts format, you lose that detail. So save json file as well. You can check json file manually to know what extra detail it has.

[2018-04-17 02:01] amitguptagwl commented on #4
fixed

[2018-04-17 02:01] #4 closed

[2018-04-25 23:36] amitguptagwl opened #5 "Make label box resizable"
Label box which is used to mark an object in the image is of fixed size once it is created. It needs to be resizable

![screenshot from 2018-04-26 06-01-59](https://user-images.githubusercontent.com/7692328/39279537-69497ae2-4917-11e8-9ffc-f75138743723.png)

[2018-04-26 00:17] amitguptagwl opened #6 "UI: Bootstrap switch"
There is a switch just below the image gallery slider and just above the canvas / work area. It is helpful to switch between creating label or point. It doesn't display correctly in all the browsers.

I believe setting max-width may fix the issue. Manual switch or other libraries can also be the solution

![screenshot from 2018-04-26 05-56-05](https://user-images.githubusercontent.com/7692328/3927

[2018-04-26 00:30] amitguptagwl opened #7 "Tracking lines on big image file are not being displayed correctly"
Steps to reproduce

1. Loan an image which is bigger than canvas size.
2. You must see the scroll bar in canvas
3. now scroll and move the cursor. You'll not see the tracking line

![screenshot from 2018-04-26 05-58-38](https://user-images.githubusercontent.com/7692328/39279477-077fbf92-4917-11e8-8fe9-9421ab505443.png)

Possible solution

1. Set the height & width when image is loaded as per imgov

[2018-04-26 00:35] amitguptagwl opened #8 "Associate delete key"
When a label box or feature point is selected, widget left of the canvas show delete button. It's good if pressing delete key can delete the selected entry.

![screenshot from 2018-04-26 06-04-36](https://user-images.githubusercontent.com/7692328/39279607-bfe91b78-4917-11e8-8d3b-2e9456ac51c0.png)

[2018-04-26 00:52] amitguptagwl opened #9 "Mark labelled images in image gallery slider"
When multiple images are loaded in image slider and a user is scrolling through the images, it'll be a good user experience if an icon overlayed on image can notify them which images are already labelled. Currently user need to click every image to check if they are labelled.

![screenshot from 2018-04-26 06-21-34](https://user-images.githubusercontent.com/7692328/39279986-1db090ae-491a-11e8-98e9-

[2018-04-26 01:01] amitguptagwl opened #10 "Upgrade to React"
Imglab is currently implemented using jQuery. I believe it should be migrated to react app. Discussion and PRs are welcome.

[2018-04-26 01:08] amitguptagwl opened #11 "Zoom in"
It is difficult to see a small feature point on an image. Hence I've fixed their size to 2px. But when you draw multiple points on small faces, you only see the points not the face. Moreover, it is very difficult to draw point on small face / object. Hence it'll be good if can enlarge workarea to draw points correctly.

[2018-04-26 01:13] amitguptagwl opened #12 "Discussion on: add metadata for a labeled box or feature point"
You must be labeling a face with landmark points. What if you add extra detail about that. E.g. age, gender, name etc.

This issue is raised to discuss what will be the best option to associate this information. As this tool is not limited to label only the faces, we can't hard code the attributes related to particular type of objects only.

In my opinion tags can be the good option for that. Your

[2018-04-26 01:19] amitguptagwl opened #13 "Work area or Canvas size"
Currently workarea / canvas where we load the image for labeling is small. I believe we should take the advantage of full browser width.

*Note* : A small change in class file can do that. But it may lead change in cursor position.

We can also discuss for the new design to maximize the work area.

[2018-04-26 02:07] amitguptagwl opened #14 "Offline Installable Application"
Though Imglab works offline once it is loaded in the browser, it'll be more handy if it can be installed on the machine without internet.

Using node js, electron and other helpful technologies, it's installer can be created. Discussion and PR are welcome for this thread.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/57597800-offl

[2018-04-30 08:26] amitguptagwl commented on #13
Yes, please.

[2018-04-30 09:38] amitguptagwl opened #15 "New UI Design"
With the inspiration of many photo editing software and to support other features in future, I was wondering if we should change the UI of `Imglab`.

Some points in my mind

1. Dark theme: Pleasant for eyes. More focus on currently open image.
2. cursor position on image or the position of feature point and label box should be displayed in bottom bar.
3. label name can be attached to label box
4.

[2018-05-03 05:27] #13 closed

[2018-05-05 09:07] programmer-pixie commented on #7
Hello, if this issue is still available, may I try to fix it?

[2018-05-05 09:10] amitguptagwl commented on #7
Yes, please go on. Please mention issue number in the PR.

[2018-05-09 05:54] al1khavari commented on #6
Hi , i take this task, can you tell me in which browser does this happen?

[2018-05-09 06:02] amitguptagwl commented on #6
It's weird that when I open [online tool](https://naturalintelligence.github.io/imglab/) in chrome I can see the issue. But if I run it locally on the same browser then I don't see the issue.

[2018-05-11 04:17] amitguptagwl commented on #9
You'r welcome @Komorebi-Girl . Please also read [Contribution guideline](https://github.com/NaturalIntelligence/imglab/blob/master/.github/First_Time_Contributors.md).

[2018-05-11 04:29] amitguptagwl opened #17 "Create Toolbar"
A user can create a label box or feature points inside the label box. For this he/she needs to click on a switch;

![switch](https://user-images.githubusercontent.com/7692328/39279504-30b6ff88-4917-11e8-8aaa-daf6628f7f58.png)

Instead, we want to provide a toolbox , preferably left hand side, like other image editing tools where user can select the tool icon. It'll give the benefit of creating mul

[2018-05-11 04:31] amitguptagwl commented on #6
@al1khavari ! in case if you've not started with the implementation of this issue, I would like to close this issue as out of scope due to the issue #17 . I hope your effort is not wasted.

[2018-05-11 04:40] amitguptagwl opened #18 "Create Action Bar"
After creating a label or feature point on an image, user can delete selected element from the left side widget.

![widget](https://user-images.githubusercontent.com/7692328/39279607-bfe91b78-4917-11e8-8d3b-2e9456ac51c0.png)

Instead, we would like to create an action bar between canvas and thumbnail slider with "delete", "empty", "move" buttons. Appropriate options should be visible or enable. Eg

[2018-05-11 04:44] amitguptagwl opened #19 "Create Polygon"
Through imglab, you can only make the rectangular labels. As a part of this issue, we want to let user create polygons.

Features
* The points of the polygons should be draggable to increase accuracy.
* Selected polygon can be deleted

[2018-05-13 23:32] UmangGPatel commented on #19
hi, there it seems that I can start my contribution to open source with this project.
How can I start?

[2018-05-14 17:28] aamarill commented on #19
Hello :)

I am looking to make my first open source contribution.
I have good HTML, CSS and JS skills. Can I claim this issue?

Thanks in advance!

[2018-05-14 21:47] UmangGPatel commented on #19
bro I have already claimed the issues please try another one

[2018-05-14 22:09] aamarill commented on #19
@UmangGPatel  my apologies, I didn't see your previous message. Best of luck 😄

[2018-05-14 22:50] UmangGPatel commented on #19
@amitguptagwl I have some doubts so please solve this.
can we make the option that first plots the point by the user and then creates a polygon of that points or we provide an option such as shape making tool in word or other software in which shape have same internal angles as predefined?

[2018-05-15 02:15] amitguptagwl commented on #19
@UmangGPatel If you attempt to do it using HTML5 canvas then you may have to change the existing functionality to create labels (rectangle) and feature points. Which may increase the complexity. So if you feel you can handle all using the HTML5 canvas it is fine.

[2018-05-15 02:17] amitguptagwl commented on #19
@aamarill Please have a look [here](https://github.com/NaturalIntelligence/imglab/issues)

[2018-05-15 02:49] #6 closed

[2018-05-17 01:57] amitguptagwl commented on #9
@Komorebi-Girl any update on the same? Feel free to ask questions.

[2018-05-19 12:25] malfple commented on #17
Hi! Can I take this one?

[2018-05-19 12:55] amitguptagwl commented on #17
You're welcome @malfple . Please also read [contribution guideline](https://github.com/NaturalIntelligence/imglab/blob/master/.github/First_Time_Contributors.md)

[2018-05-19 12:57] amitguptagwl commented on #7
As there is no response from the claimer @programmer-pixie , this issue is free to be picked by other contributors.

[2018-05-19 12:58] amitguptagwl commented on #9
As there is no response from the claimer @Komorebi-Girl  , this issue is free to be picked by other contributors.

[2018-05-19 12:59] amitguptagwl commented on #19
@UmangGPatel any update on the same. Feel free to ask questions to clear any doubt.

[2018-05-19 21:50] gsweetwood commented on #18
@amitguptagwl Hi, I think I will take a stab at this issue if it's still available.  I have a question though.  What is the purpose of the "move" button?  I don't see it in the current version.

[2018-05-19 23:31] UmangGPatel commented on #19
I have analysed your code and  I understand  that you are not using canvas and
SVG to draw a rectangle and points.so I have tried your method of plotting point but I have still no idea about how you are drawing a box so guide me @amitguptagwl

[2018-05-20 00:13] amitguptagwl commented on #19
The Box is nothing but a `div` with border. I create it on `mousedown` and keep changing it's height and width on `mousemove` till `mouseup`.

If you feel that canvas is a good option. Go for that. We may use some libraries for drawing rectangle, point, and polygon. But please keep in mind that all the features should work, like selection of box, moving it on canvas, mouse and key events etc.

[2018-05-20 00:27] gsweetwood commented on #18
I moved the "delete" and "empty" buttons to above the image.  I also added an animation to hide the "empty" button when the 'Points' is selected and reappear when 'Box' is selected.  Is this what you are looking for?
![points selected](https://user-images.githubusercontent.com/25124281/40274368-d4ec926e-5b89-11e8-9d0b-ca11dfc2f62b.JPG)
![box selected](https://user-images.githubusercontent.com/2512

[2018-05-20 05:04] gsweetwood opened #22 "Cursor X Position Displays Extra Numbers"
The x position of the cursor displays extra numbers.  In the image below it's displaying ".84375"  Even if that number is technically correct (I don't know if it is or not), it should probably just display a whole number and not a decimal.  This was in Chrome.  A different number appeared in FireFox.  And I actually couldn't get any image to load in IE, but that should be a separate issue.

![x po

[2018-05-20 05:19] gsweetwood commented on #15
I think changing the opacity of the coordinate lines would look nicer.  Also, when a point is created, the little rectangle is created from the top left corner.  I think it would feel much better if it appeared in the center of the rectangle.

[2018-05-20 07:54] amitguptagwl commented on #18
Sorry for the late response. I was busy to design the final UI I'm aiming; Please check [vision](https://github.com/NaturalIntelligence/imglab/blob/master/vision.md) page.

![Final UI](https://github.com/NaturalIntelligence/imglab/raw/master/img/imglab_vision.png)

This is how the final UI should look.

As a part of this story we need to create the **action bar** with delete and empty icons. Icons

[2018-05-20 07:56] amitguptagwl commented on #19
![Final UI](https://github.com/NaturalIntelligence/imglab/raw/master/img/imglab_vision.png)

[2018-05-20 07:56] amitguptagwl commented on #17
![Final UI](https://github.com/NaturalIntelligence/imglab/raw/master/img/imglab_vision.png)

[2018-05-20 08:00] amitguptagwl commented on #15
@gsweetwood I agree with your both points.

This is the UI design We're aiming for. I'll update the design with all the suggestions.

![Final UI](https://github.com/NaturalIntelligence/imglab/raw/master/img/imglab_vision.png)

[2018-05-20 08:13] amitguptagwl opened #23 "Export data in Nimn Format"
Imglab currently save data in json format. The size of project file can be reduced by 66% if it uses [निम्न (nimn)](https://github.com/nimndata/nimnjs-node) format.

[2018-05-20 08:15] amitguptagwl opened #24 "Support PascalVoc XML format"
Currently imglab can export data in dlib pst or XML file only. We want to support **PascalVoc XML** as well.

labellingData format: https://github.com/NaturalIntelligence/imglab/blob/master/js/nimnObjStructure.js

Sample format:
[code]

Note:

* Web version of imglab can't extract the value of folder name so it should be be set to UNKNOWN.
* segmented, truncated, difficult, and depth fields can be

[2018-05-24 16:18] amitguptagwl commented on #15
This is what I've done today. I'll be working on creating rectangle on canvas tomorrow.

![screenshot from 2018-05-24 21-29-08](https://user-images.githubusercontent.com/7692328/40497424-c25c0850-5f99-11e8-9852-4ca2a42001a0.png)

I'm not planning to move action bar on top. It looks weird. Top bar can be treated as menu bat or title bar.

[2018-05-25 05:54] amitguptagwl commented on #15
It's quite difficult to decide which approach should be used for drawing: `div`, `svg`, or `canvas`.

I've an idea how to draw polygon, and lines with `div`. But it can become complex with curves. Moreover implementing own solution is like reinventing the wheels. It's better to use some drawing library.

[2018-05-25 13:02] lopezjorge1 commented on #23
Hi Amit! I'm new to the open source community and this seems like a doable task. Do you mind if I take a stab at it? Are there any other resources (other than the nimn github) that I could use for reference?

[2018-05-25 13:58] amitguptagwl commented on #23
Welcom @lopezjorge1 . I appreciate your initiative. You're required to change following code in uiaction.js

[code]

Nimn encoder two thing to transform JS object into nimn data: data, schema. To make it quick;

open imglab > import some images > create some boxes > create some points > open console > type `JSON.stringify(images)`

You'll see the value of object which has to be transformed to nimn

[2018-05-29 13:14] lopezjorge1 commented on #23
[code]

[code]

These are the two schemas for one image I used in imglab. The schema using Face++ is a lot more specific (attributes "key name" and the points are labeled). This is pretty much the story for every other image as well. Would the structure of the images object have to change now? If not, what step should I take after getting the general structure of the schemas?

[2018-05-29 15:23] amitguptagwl commented on #23
We should come up with the common schema. Eg (roughly)

[code]

[2018-05-29 16:20] lopezjorge1 commented on #23
Before I continue, the goal is to take the common schema and convert it to the nimn format, then download that, right?

[2018-05-29 16:23] lopezjorge1 commented on #23
Before I continue, the goal is to take the common schema and convert it to the nimn format, then take that data and download it when the export button is clicked, right?

[2018-05-30 02:01] amitguptagwl commented on #23
**Goal** - Save data in Nimn format instead of JSON format.
**Precaution** : Existing users of the application should not feel interruption.

**Tasks**

1. Find the common schema so that js object built from different resources can be converted in to common structure. (Nimn supports fixed object structure only)
[code]

2. Do the necessary changes in the application so that it can use the new chang

[2018-06-01 05:00] amitguptagwl commented on #19
This feature has been covered in new UI renovation.

[2018-06-01 05:00] #19 closed

[2018-06-01 05:01] amitguptagwl commented on #17
covered in UI renovation

[2018-06-01 05:01] #17 closed

[2018-06-01 05:02] amitguptagwl commented on #10
Used riot js for gallery and toolbar

[2018-06-01 05:03] amitguptagwl commented on #11
will be implemented under UI renovation

[2018-06-01 05:03] #11 closed

[2018-06-01 05:04] #8 closed

[2018-06-01 05:04] amitguptagwl commented on #9
Will be covered on UI renovation

[2018-06-01 05:05] #9 closed

[2018-06-01 05:05] amitguptagwl commented on #7
Will be covered in UI renovation

[2018-06-01 05:05] #7 closed

[2018-06-01 05:05] amitguptagwl commented on #5
covered in UI renovation

[2018-06-01 05:05] #5 closed

[2018-06-07 10:41] ToastCheng commented on #22
Does this happen all the time?
I had a little test and the x value is always an integer(fixed already?).

[2018-06-07 15:34] amitguptagwl opened #27 "Fix Icons (html, css)"
starting point: v2.html
link: https://naturalintelligence.github.io/imglab/v2.html

Following issues has to be fixed
1. Polygon icon need to be transparent. [done]
2. display bulb icon for Labels only tool button [done]
3. keyboard icon need to be aligned properly [done]
4. circle icon should not cut [done]
5. point icon should be smaller than circle and it should be filled circle, not the ring [d

[2018-06-07 15:37] amitguptagwl opened #28 "Page height need to be fixed (html, css)"
starting point: v2.html
link: https://naturalintelligence.github.io/imglab/v2.html

Following issues has to be fixed

* When you open the page, you can see vertical scrollbar. and when you scroll up there is some empty white space of 5-10 px.

[2018-06-07 16:20] amitguptagwl opened #29 "Fill opacity (css, html)"
starting point: v2.html
link: https://naturalintelligence.github.io/imglab/v2.html

1. Display a slider on action bar when user clicks on "light bulb" / "Labels only" icon.
2. On slider change, change the fill-opacity of myCanvas svg so that users can see labels correctly

[2018-06-07 16:47] amitguptagwl opened #30 "svg.js: a shape should not be draggable when the point tool is selected"
starting point: v2.html
link: https://naturalintelligence.github.io/imglab/v2.html

1. Load an image into the galleries
2. select an image to load in workarea
3. draw a rectangle on image
4. select point tool and create a point on rectangle . hold the mouse button and drag. shape should not be dragged

Check [technical documentation](https://github.com/NaturalIntelligence/imglab/blob/master/docs/t

[2018-06-07 16:51] amitguptagwl opened #31 "Show mouse tracking line (html, css, js)"
starting point: v2.html
link: https://naturalintelligence.github.io/imglab/v2.html

Just like [version 1](https://naturalintelligence.github.io/imglab/) we need to show vertical and horizontal crossing lines to track mouse pointer.

[2018-06-08 00:37] amitguptagwl opened #32 "svg.js: fix: polygon with duplicate points"
starting point: v2.html
link: https://naturalintelligence.github.io/imglab/v2.html

Steps:
1. Open the link above.
2. Load images into gallery
3. select an image to load into workareas.
4. select polygon tool
5. press F12 to inspect "myCanvas" svg
6. draw polygon. You'll see the element being created in DOM with 2 points on every click (sometime one point).

[code]

7. Delete repeated points manua

[2018-06-08 06:26] amitguptagwl opened #33 "Add key mapping for quick action (basic js) related to files"
starting point: v2.html
link: https://naturalintelligence.github.io/imglab/v2.html

**images-slider.tag.html**
* use left and right arrow to load previous and next image in workarea respectively.
* Shit + o : to open images
* Alt + o : to open image folder

**menu.tag.html**
* o : to open data file
* s : to save data file

*Note* - all the new key mappings need to be mentioned in `shortcuts.tag.ht

[2018-06-08 06:33] amitguptagwl opened #34 "Add key mapping for quick action (basic js, svg.js ) related to moving shape"
Demo: https://naturalintelligence.github.io/imglab/

**workarea.tag.html**
* Ctrl + arrow key: to move a selected shape(s) by 1 pix

Hint code:

[code]

*Note* - all the new key mappings need to be mentioned in `shortcuts.tag.html `

Check [technical documentation](https://github.com/NaturalIntelligence/imglab/blob/master/docs/technical.md).

[2018-06-09 02:01] #32 closed

[2018-06-09 17:31] devamaz commented on #34
Will love to work on this

[2018-06-09 18:50] gsweetwood commented on #22
The issue still exists.  When I change the zoom on my browser, the number after the decimal changes.  Chances are that if I can see it, others might as well.  It's a really easy fix.

[2018-06-10 03:55] amitguptagwl commented on #22
As I've already done the changes for [v2](https://naturalintelligence.github.io/imglab/v2.html). This issue will not be fixed, even if it is there.

[2018-06-10 03:55] #22 closed

[2018-06-10 03:56] amitguptagwl commented on #34
Please go on. I hope, it'll not take much time.

[2018-06-11 05:13] amitguptagwl commented on #27
point 3 is fixed

[2018-06-11 07:05] amitguptagwl commented on #27
point 2, 6 are also fixed

[2018-06-11 07:05] amitguptagwl commented on #28
fixed, it was due to invisible file input

[2018-06-11 07:05] #28 closed

[2018-06-11 07:07] amitguptagwl commented on #18
refer v2.html

[2018-06-11 07:07] #18 closed

[2018-06-12 03:44] nimaosu commented on #27
Hello, I would like to attempt issues 4 and 5. Is this okay?

[2018-06-12 03:57] amitguptagwl commented on #27
Yes please.

[2018-06-12 04:14] amitguptagwl opened #36 "Bootstrap: adjust grid on small browser"
starting point: v2.html
link: https://naturalintelligence.github.io/imglab/v2.html

On top right side there are 3 buttons: plugins, keyboard, donate. When the browser window is < 1412px. They are not properly aligned.

All the elements in a menu should be aligned for different screen size.

[2018-06-12 08:11] devamaz commented on #34
Sorry man didn't check my feeds will work on it today

[2018-06-12 09:03] devamaz commented on #34
Hy need some help with the selectedShapes they are the selectedElement right?

[2018-06-12 10:43] amitguptagwl commented on #34
if you mean by variable name it should be `selectedElements`

[2018-06-12 11:28] devamaz commented on #34
ok Thanks

[2018-06-12 15:39] amitguptagwl opened #37 "Save data to browser cache"
Currently all the data is being saved to `labellingData`. We want to keep labellingData sync with browser store securely. So if the browser is accidentally closed, user should not loose data.

Considerations
1. Anytime labellingData is updated, deleted, populated through 3rd party plugin both copies must be in sync .

[2018-06-12 15:44] JoelLau commented on #36
going to attempt to fix this!

[2018-06-12 19:29] scwong93 commented on #27
May I tackle issue 7?

[2018-06-13 02:39] amitguptagwl commented on #27
@scwong93 issues 2,3,6 are fixed. Issues 4,5 are being handled by @nimaosu . You can pick rest of the issues.

[2018-06-13 05:11] nimaosu commented on #27
Hello, I'd like to apologize as some issues came up in my schedule and I am unable to address issues 4 and 5 at this moment. I'd like to open up the issues for people to pick up. Sorry again.

[2018-06-13 08:16] #33 closed

[2018-06-13 09:09] devamaz commented on #34
Sorry can't continue with this if another person can take

[2018-06-13 09:11] amitguptagwl commented on #34
no problem

[2018-06-13 10:03] rohitkrishna094 commented on #31
Would like to work on this. Would be my first pull request. All I have to do is add stuff to workarea.tag html file right? Thanks

[2018-06-13 10:18] amitguptagwl commented on #31
Yes. uiaction.js can give you snippet idea, if you want

[2018-06-13 11:33] rohitkrishna094 commented on #31
Hey for some reason I am getting a `riot` error. This did not happen yesterday. The version 2 doesn't work even after going to https://naturalintelligence.github.io/imglab/v2.html or even after trying it locally.

I get an error saying `Cannot read property 'src' of undefined` from `riot+compiler.min.js` file. Tried checking on chrome as well as firefox.

[2018-06-13 12:07] amitguptagwl commented on #31
It's working fine for me. Can you please open the console and check what error is. And if you can share the screenshot.

[2018-06-13 12:19] rohitkrishna094 commented on #31
![Riot-Error](https://user-images.githubusercontent.com/18495886/41350749-bb2e36d0-6ed9-11e8-9b33-68e16df2ef7d.png)

Here is the screenshot. I am on Windows 10 and my browser is chrome. I tried checking it locally as well. The moment I load an image, I get that error. Locally the riot version that I tried in package.json is `^3.10.1`

[2018-06-13 12:45] amitguptagwl commented on #31
I've checked it locally and there is no issue due to the PR at least, let me check on mac.

[2018-06-13 13:14] rohitkrishna094 commented on #31
This is interesting. For some reason, if I go back to commit `38eae298d3b3cf77fef4ae9f1a4df10e9a6cd7f4`, I do not see that error. But if I even go up even by one commit, I get that error back. I only have a Windows machine, so I am not sure if it's something to do with my Windows or not.

[2018-06-13 13:44] amitguptagwl commented on #31
Sue the MS ;)
well let me check on my windows then. I hardly open it once in an year.

[2018-06-13 15:33] LandoLucas commented on #37
Hi, I'd like to contribute with this issue. Should I assign it to myself or just send a PR when I'm ready?
Thanks

[2018-06-13 15:53] amitguptagwl commented on #37
Sure go on. PR is sufficient. Just please take care that if you get engaged
with something else, plz inform here.

On Wed 13 Jun, 2018, 9:03 PM LandoLucas, <notifications@github.com> wrote:

[2018-06-13 20:45] rohitkrishna094 commented on #31
I actually checked the website in another pc that I have which runs ubuntu. I get the same error for version 2 as well. How are you supposed to load an image in v2? I just click the image icon at the bottom and add an image from my computer. In the previous commit, upon adding there was no `riot` error. But for the current version, irrespective of OS, I am getting the same error.

[2018-06-14 02:08] amitguptagwl commented on #31
Sorry this is my bad. I tested the app without loading the image. There are many errors I can see on console. Let me check what are they.

[2018-06-14 03:19] amitguptagwl commented on #31
@rohitkrishna094 thanks for reporting there were some issues with previous PR merged. I've fixed that now. You should not see any issue now.

[2018-06-14 05:45] AnshuOnGit commented on #36
Hi @amitguptagwl  I would like to take this up

[2018-06-14 06:09] amitguptagwl commented on #36
Sure, pleas go on. Just ensure that you test the application before raising
the PR and keep the console error free.

On Thu 14 Jun, 2018, 11:15 AM Anshu Kumar, <notifications@github.com> wrote:

[2018-06-14 08:11] rohitkrishna094 commented on #31
Nice, then I will get back to working on this issue. Thanks for your help.

[2018-06-14 10:40] AnshuOnGit commented on #36
@amitguptagwl  may i know the initial setup for making web app up on local laptop

[2018-06-14 10:59] amitguptagwl commented on #36
`git clone` . It is made in html, css, and js. You can use any server to start it. or open the v2.html directly in browser. However if you already have node js installed on your machine, you can install http-server to make it easy.

[2018-06-15 01:31] rohitkrishna094 commented on #30
I would like to try this. When you say you don't want the shape to move, you are referring to rectangle right? Because when we try to add red points at a faster pace, we will drag our mouse unintentionally which actually also drags the green rectangle. So we should stop that from happening right?

[2018-06-15 01:38] rohitkrishna094 commented on #15
I just wanted to confirm. Is version 2 going to be the main focus for future? If so, what happens to version 1? Thanks

[2018-06-15 03:08] amitguptagwl commented on #15
Yes you're right. We'll migrate version 1 to version 2. Currently version 2 can handle all the tasks of version 1 except few UI things. Moreover we want to use nimn. Then we'll remove version 1.

[2018-06-15 03:46] rohitkrishna094 commented on #30
Ok, not I understand most of it. I will try with this issue and comment here again if I stumble upon any problems. Thanks

[2018-06-17 22:45] LandoLucas commented on #37
Hi, is there any instructive on how to compile and run the application? Do you use a server or just open an html page on a browser?
I see that there is an index.html and a v2.html that both could be an entry point of the application.
Thanks

[2018-06-18 00:51] amitguptagwl commented on #37
Application need not to be compiled. Opening with browser may work in some cases but it's better to start with some [http server](https://www.npmjs.com/package/http-server)

`labellingData` is available only for v2.html. So that'll be starting point for this issue.

[2018-06-18 17:04] Calstream commented on #27
Hello, I'd like to try issues 4 & 5.

[2018-06-18 18:21] AnshuOnGit commented on #36
Please review https://github.com/NaturalIntelligence/imglab/pull/41

[2018-06-18 18:28] AnshuOnGit commented on #24
@amitguptagwl Could you please detail where we are exporting data, I mean UI flow

[2018-06-18 22:18] chrisperrins95 commented on #27
Hello, I'd like to try issue 1.

[2018-06-18 22:32] chrisperrins95 commented on #27
@Calstream While trying to solve issue 1, i found out how to solve issue 4 and 5!
Download InkScape, open point.svg and re-centre the image.

[2018-06-18 22:44] chrisperrins95 commented on #27
Hi, I've fixed the issue. @Calstream  our issues are very similar if you want to know how to fix it let me know.
@amitguptagwl  Once i have fixed the issue what do i do next? Sorry I am new

[2018-06-19 03:59] amitguptagwl commented on #27
"Race 3" sorry I was late to respond. @chrisperrins95 You need to raise the PR. @Calstream yes please go on.

[2018-06-19 04:14] amitguptagwl commented on #24
If you open [v2.html](https://naturalintelligence.github.io/imglab/v2.html), you can try the application to understand it better.

1. Upload some images in thumbnail slideer
2. click on thumbnail
3. draw some shapes on the image
4. save the data

You'll get 3 options. We want to introduce 4th option as a part of this issue.

[2018-06-19 06:26] amitguptagwl opened #42 "Firefox UI : Bootstrap : Extra space above the row"
[v2.html](https://naturalintelligence.github.io/imglab/v2.html) looks fine on chrome but on firefox it moves the menu bar down.

![screenshot from 2018-06-19 11-54-51](https://user-images.githubusercontent.com/7692328/41580236-c479cb2c-73b7-11e8-8284-aa470d6bfe50.png)

Hint: Try line height of the container.

Check [technical documentation](https://github.com/NaturalIntelligence/imglab/blob/master

[2018-06-20 14:10] #31 closed

[2018-06-21 01:41] #27 closed

[2018-06-21 02:37] amitguptagwl opened #46 "Docs : Create technical doocuments"
To motivate more people for opensource contribution we need to create an easy to start development guide for this project. It should contain

1. Summary of riot js component
2. How to test common features
3. Various components and their purpose
4. Anything which you feel necessary but missed

[technical.md](https://github.com/NaturalIntelligence/imglab/tree/master/docs)

[2018-06-21 09:16] #37 closed

[2018-06-21 09:20] amitguptagwl commented on #15
This issue will be marked completed once the labeling window is designed.

[2018-06-21 09:40] amitguptagwl opened #47 "Javascript : Warn user for unsaved data on closing window"
If user has not saved the data and close the window, he should be warned before closing the window.

Starting point: v2.html

Don't show when

* Use has started an application but not uploaded any image yet
* User has uploaded images but there is no labeling data present

ref: https://stackoverflow.com/questions/7317273/warn-user-before-leaving-web-page-with-unsaved-changes

Check [technical docum

[2018-06-21 13:53] amitguptagwl opened #48 "SVG fill color is not working"
URL : https://naturalintelligence.github.io/imglab/v2.html
starting point : v2.html

Issue:

1. open above link
2. upload some images in thumbnail slider
3. click on an image
4. draw a shape from left toolbar
5. Click on lightbulb tool (left bottom)
6. In the action bar, you can see the slider (tags/actions/lightbulb-action.tag.html)
7. When we change the value of slider, it changes the `fill-opac

[2018-06-21 15:42] ShreyashAnarase commented on #48
Hi. This is my first time. Can I try?

[2018-06-21 15:56] amitguptagwl commented on #48
Yes please.

[2018-06-21 16:00] amitguptagwl commented on #36
fixed

[2018-06-21 16:00] #36 closed

[2018-06-21 16:01] amitguptagwl opened #49 "Show the list of contributors on README"
better if it is automated.

[2018-06-21 16:07] amitguptagwl opened #50 "Bug: Extra padding in left"
Starting point: https://naturalintelligence.github.io/imglab/v2.html

Issue: Tools displayed in left bottom are extra padded

Check [technical documentation](https://github.com/NaturalIntelligence/imglab/blob/master/docs/technical.md).

[2018-06-21 20:36] rohitkrishna094 commented on #49
I'd like to try this. Is it ok, if I just create a new js file under js folder called `contributors.js` and add a script to package.json called say `generateContributors`? Then we can run `npm generateContributors` and that alone should update readme file(and add new contributors to the end). You could later on set up a cron job to run this `npm generateContributors` script to update as and when a

[2018-06-22 00:20] amitguptagwl commented on #49
There are many npm packages already available to do this. But it'll become a manual approach in this way.

Check contribution list on [Fast XML Parser](https://github.com/NaturalIntelligence/fast-xml-parser). Opencollective API let you show list of contributors automatically, if you're register there. But that can be happened only when we've 100 stars on this repo.

I couldn't find other solution.

[2018-06-22 01:08] rohitkrishna094 commented on #49
Haha, well I did sleep.  :P

No idea about opencollective. I guess there are other APIs out there, but I thought this was simple enough to do it with vanilla nodejs.

Either way, if anyone else would like to take this issue up, they can. :)

[2018-06-22 03:52] amitguptagwl commented on #49
I thought to implement opencollective API but it needs server to render SVG. Hence I was looking for an alternative.

[2018-06-22 05:10] rohitkrishna094 commented on #49
True, without a server we can't do much. I just closed my PR. Let me reopen it and you can decide to merge it after maybe waiting for few days in case someone comes up with another alternative.

[2018-06-22 08:44] amitguptagwl commented on #49
Merged the PR. Let this issue be open for next few days for more solutions.

[2018-06-22 10:11] lucasvienna commented on #50
Hello! Tried to tackle this one, but having some trouble getting it to run properly on my local machine. For some reason, the entire left sidebar is not showing up when I try to open `v2.html`. Cloned locally, ran `npm i --save` and opened the page on Chrome. Anything I'm missing?

[2018-06-22 10:13] amitguptagwl opened #52 "svg.js : Add actions to zoom in / out svg panel"
Starting point: https://naturalintelligence.github.io/imglab/v2.html

It is quite difficult to work on large images. Hence a feature is required to zoom in / out image with SVG.

**What to do**

1. There is a tool button (2nd last on toolbox) "Zoom In". It needs to be renamed to "Zoom" (config.js)
2. Add an actions tag.html file in `tags\actions` folder with necessary functionality
  * When user c

[2018-06-22 10:18] amitguptagwl commented on #50
You need not to setup node project. Install `npm -g i http-server`. Then just run `http-server` command from project root folder. Now open the localhost in browser, you must see everything on the place.

[2018-06-22 10:35] lucasvienna commented on #50
It seems that removing `align-items-end` from your toolbar div fixes the issue. So far haven' found anything broken by that. Following your tech doc for testing

[2018-06-22 10:37] amitguptagwl opened #53 "svg.js : copy paste svg elements"
Starting point: https://naturalintelligence.github.io/imglab/v2.html

While annotating the images sometimes you may need to copy almost similar element on the same image or across the images. It'll be more handy when we can just copy paste svg elements (workarea.tag.html). So that the user's effort and time can be saved.

Check [technical documentation](https://github.com/NaturalIntelligence/imgla

[2018-06-22 10:39] amitguptagwl commented on #50
Hmm, if we remove that it will shift the 2nd tool plate up. Though we can do that, I was wondering if we can fix it without that.

[2018-06-22 10:41] lucasvienna commented on #50
I guess it depends on which browser you're running it then. On Chrome 67 and Safari, the items stay on the bottom.

[2018-06-22 12:21] ShreyashAnarase commented on #48
How do I do it? I'm not sure can you help/guide?

[2018-06-22 12:23] #50 closed

[2018-06-23 22:29] zlateff commented on #42
This looks like a perfect opportunity for first-time contribution. Can I give it a shot?

[2018-06-27 12:49] off99555 opened #55 "Does the landmark order matter?"
In dlib face, there are 68 points. Is it necessary that you have to order them right?
For example, you might label your eyebrow first before your cheek if order doesn't matter.
And what if the landmark labeler mislabeled the number of points to, say 67 or 69?

[2018-06-27 12:57] amitguptagwl commented on #55
This question is related to dlib not this project. However , in my
knowledge, yes you need to. But I'm not currently maintaining the order in
v2 when transforming from face++ output.

I'll cross check that.

On Wed 27 Jun, 2018, 6:19 PM Chanchana Sornsoontorn, <
notifications@github.com> wrote:

[2018-06-27 13:15] off99555 commented on #55
OK. So we must clearly tell labor that they need to label exactly in the order we choose, right?

[2018-06-27 13:23] amitguptagwl commented on #55
dlib don't restrict you for 68 points, you can have any number of points you want. But you'll have to do necessary settings while generating the models from face labeled data. So as you said, you want to label only the mouth, yes you can do that.

v2 is under development but being delayed due to the work on other projects. In v2, I can make it easy that even if you don't draw points in order you c

[2018-06-27 13:32] off99555 commented on #55
I asked the question here:
https://github.com/davisking/dlib/issues/1384

For v2, are you going to do some type of X,Y sorting? I don't think that'll work if the face is rotated then you mess up the order of the face.

[2018-06-27 13:41] amitguptagwl commented on #55
Of course not. I'll give the people easy selection of points labels from drop down. In case of converting from fpp result, I already have label information. So I just need to map.

[2018-06-27 13:42] off99555 commented on #55
The `dlib` creator said that order is irrelevant.

[2018-06-27 13:46] amitguptagwl commented on #55
It's a good news for you. As I remember, they're irrelevant when generating the model but the model marks the landmark points always in an order so you can perform expression detection.

[2018-06-27 13:55] off99555 commented on #55
Well, I misunderstood what he said. He meant that we don't have to put landmark 1 close to landmark 2. That's what he meant by order. So, in the end, the order is relevant. It needs to be the same for all images.

[2018-06-28 02:38] amitguptagwl commented on #55
Hmm... better to leave this card open until we implement it.

[2018-06-28 02:39] amitguptagwl commented on #52
Yes please.

[2018-06-28 02:40] amitguptagwl commented on #48
@ShreyashAnarase I hope you're able to get what to do and how to do.

[2018-06-29 17:07] reploid-Zero commented on #47
Hello, i'm interested in solving this issue. Please assign me :)

[2018-06-30 00:12] amitguptagwl commented on #47
Currently we 're saving data in browser cache. So I believe we don't need this card anymore. Thanks to show your interest. And sorry to close this issue. But you can check other issues.

[2018-06-30 00:12] #47 closed

[2018-06-30 00:15] amitguptagwl commented on #46
Initial documentation is created. We'll keep updating that as per the changes and need.

[2018-06-30 00:15] #46 closed

[2018-06-30 10:57] amitguptagwl commented on #55
@off99555 While I was working to solve this issue I just realized that dlib does not restrict to 68 points and their position. It returns you the position of points in the same order they were created in training data.

Eg

You created a training data with 4 points: left eye, right eye, nose tip, and chin. And you labelled these points : 1,2,3,4 respectively. Then you should maintain this order in

[2018-06-30 12:05] off99555 opened #56 "Issues with generated XML file"
1. Output from your software is floating point values for x,y but `dlib` requires them to be integers.
2. Encoding of the file does not match `dlib`. You output `UTF-8` and the first line of the XML is buggy (dlib yelled error at the first line of the XML when training). But `dlib` requires encoding of `ISO-xxxxx`

Please fix this if possible.

[2018-06-30 12:42] amitguptagwl commented on #56
Thanks to report an issue. Can you please confirm which version of imglab are you trying?

[2018-06-30 12:59] off99555 commented on #56
https://naturalintelligence.github.io/imglab/

[2018-06-30 13:08] amitguptagwl commented on #56
this is v1. We're no longer doing any change on v1.  All the bugs will be fixed at v2

https://naturalintelligence.github.io/imglab/v2.html

I most probably will make it live on Monday. And will also fix your bug there.

[2018-06-30 13:09] off99555 commented on #56
Is v2 usable now?

On Sat, Jun 30, 2018 at 8:08 PM Amit Gupta <notifications@github.com> wrote:

--
Best regards,
Chanchana

[2018-06-30 14:03] amitguptagwl commented on #56
It has most of the features supported by v1. However some necessary features are expected to be completed by Monday.

[2018-06-30 15:55] amitguptagwl opened #57 "UI change in jquery sortable list"
Steps
1. Visit: https://naturalintelligence.github.io/imglab/v2.html
2. Browse some images. Open an image
3. Draw a shape and some points on the image
4. select shape. You should see label panel in right side

![screenshot from 2018-06-30 21-15-30](https://user-images.githubusercontent.com/7692328/42126840-9a618440-7cab-11e8-82c8-59ec0d0deada.png)

Some UI changes has to be done on this

1. When w

[2018-07-01 01:51] amitguptagwl commented on #52
@dragonhangnail Have you get the chance to look into?

[2018-07-01 01:52] amitguptagwl commented on #29
fixed

[2018-07-01 01:52] #29 closed

[2018-07-01 01:53] amitguptagwl commented on #30
@rohitkrishna094 are you still on the issue?

[2018-07-01 01:54] amitguptagwl commented on #24
@AnshuOnGit Are you able to manage this? Let me know if you're busy some other stuff or still willing to work on this issue.

[2018-07-01 01:56] amitguptagwl commented on #15
Most of the UI targeted has been achieved. Hence closing this discussion. Some issues are still there and will be fixed.

[2018-07-01 01:56] #15 closed

[2018-07-01 04:42] dragonhangnail commented on #52
yes, I am sorry this is taking so long this is my first time working on something like this.

[2018-07-01 05:30] amitguptagwl commented on #23
Done.
Schema: `js/nimnObjStructure.js`
[code]

[2018-07-01 05:30] #23 closed

[2018-07-01 05:32] amitguptagwl commented on #52
Not an issue. I just wanted to check if you need some help.

[2018-07-02 03:28] amitguptagwl commented on #55
In version 2. All the landmark / feature points can be ordered manually to maintain the order. I'll use their order (not their label) when exporting to dlib. Moreover, I'm also arranging fpp points in dlib parts order.

[2018-07-02 03:28] #55 closed

[2018-07-02 03:36] amitguptagwl opened #58 "UI/UX: Immediate response"
On following  cases

Update label-panel on every update on workarea and vice versa.

1. When data is imported, labels on currently selected image should be shown immediately
2. When a point is deleted or created, it should be shown on right sidebar ie label panel
3. When a shape is created, it should be selected and shown in label panel

<bountysource-plugin>

---
Want to back this issue? **[Post

[2018-07-02 03:40] amitguptagwl opened #59 "UX,UI : Key mapping with menu item"
https://naturalintelligence.github.io/imglab

User can see key mappings when he clicks on keyboard icon. In addition, it'll be good if we display key mappings with each menu item.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/60363412-ux-ui-key-mapping-with-menu-item?utm_campaign=plugin&utm_content=tracker%2F76641010&utm_medium=is

[2018-07-02 06:37] rohitkrishna094 commented on #30
Sorry for the late reply. Yes I am this issue. Will complete is asap and do a PR for review.

[2018-07-02 07:05] amitguptagwl commented on #57
point 4 is fixed

[2018-07-02 07:52] amitguptagwl commented on #57
point 3 is fixed

[2018-07-02 08:22] amitguptagwl commented on #30
Thanks Rohit.

[2018-07-02 09:03] off99555 commented on #56
You could try training in dlib train_shape_predictor and you would see the error.
The text doesn't look suspicious but the BOM utf8 encoding is.

[2018-07-03 05:46] amitguptagwl commented on #56
I've fixed the changes as per your suggestion. Please test it and let me know.

[2018-07-03 06:03] amitguptagwl commented on #57
point 2 is fixed

[2018-07-03 06:06] amitguptagwl commented on #57
point 1 is fixed

[2018-07-03 06:09] AnshuOnGit commented on #24
@amitguptagwl I am looking into it.

[2018-07-03 06:11] amitguptagwl commented on #24
Thanks for update @AnshuOnGit . Please discuss here if you stuck in any issue

[2018-07-03 10:23] off99555 commented on #56
v2 link is down

[2018-07-03 10:43] #48 closed

[2018-07-03 10:44] amitguptagwl commented on #56
I've make the v2 live now. So you need not to append v2.html in last.

[2018-07-03 10:44] #49 closed

[2018-07-03 10:45] #42 closed

[2018-07-03 11:04] #12 closed

[2018-07-03 11:21] amitguptagwl commented on #57
point 5 is fixed

[2018-07-03 11:21] #57 closed

[2018-07-03 12:42] amitguptagwl commented on #58
point 2 : when a point on workarea is selected display label panel with highlighted related feature point

[2018-07-04 04:07] amitguptagwl opened #62 "UI : remember the value of opacity attribute"
file: `tags\actions\lightbulb-action.tag.html`, `tags\workarea.tag.html`

Currently we can click use light tool to set the opacity of an image. We want to remember the settings so that when a new image is loaded in work area it uses the same opacity.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/60455620-ui-remember-the-value-of-o

[2018-07-04 04:19] amitguptagwl opened #63 "When a feature point is selected in label panel then corresponding SVG element should be selected"
The code is already there to identify the SVG element and select it. `workarea.tag.html`

![imglab](https://user-images.githubusercontent.com/7692328/44836803-8c3ff700-ac55-11e8-9856-b8ad57e9e4e2.gif)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/60455811-when-a-feature-point-is-selected-in-label-panel-then-corresponding-svg-eleme

[2018-07-04 04:58] amitguptagwl opened #64 "Smart selection on mouse click on HTML canvas"
For the sake of laziness, we were wondering to introduce a smart selection tool which can automatically create a polygon and select particular part of an object.

How to
1. `workarea.tag.html` load the image on hidden canvas.
2. When smart selection tool is selected then select the area and convert it into either SVG path or SVG polygon.

[2018-07-04 05:45] amitguptagwl opened #65 "Change size of landmark point (SVG circle )"
Landmark points are small and hard to find on an image. Hence we've introduced that for some images they are bigger and for some images they're not much visible due the back ground.

Hence we're planning to create an action bar which can let the users to change it's size.

To do it,
1. You can copy paste `tags\actions\lightbulb-action.tag.html`
2. set the css property on change event

<bountysourc

[2018-07-04 05:52] amitguptagwl opened #66 "Dynamic color to SVG element"
It's hard to detect landmark point when the background color is same. Light tool helps a bit.

We're planning to introduce an action or make it automatic to change the color of SVG circle point based on the image background color.

I believe taking white and black color based on the image background would be good. Suggestions are welcome.

![color contrast](https://www.lifewire.com/thmb/t5zzNgptB2

[2018-07-04 09:11] amitguptagwl opened #67 "Adding extra points to SVG polygon (svg.js)"
Once a polygon is created, user should be able to add extra points later to change the shape of polygon.

[2018-07-05 01:06] amitguptagwl commented on #64
Helpful links

1. https://github.com/amitguptagwl/web-snippets/tree/master/canvas
2. https://github.com/Tamersoul/magic-wand-js
3.

[2018-07-05 01:10] amitguptagwl commented on #56
@off99555 I'm expecting that your problem must have been resolved. If not, please reopen the issue or raise new one for other issues.

[2018-07-05 04:05] amitguptagwl opened #68 "Support COCO format"
Currently imglab can export data in dlib pst or XML file only. We want to support **COCO JSON** as well.

**Sample**
[code]

* segmentation value can be taken from [labellingData](https://github.com/NaturalIntelligence/imglab/blob/master/js/nimnObjStructure.js).shapes.points
* Set the "iscrowd" and "ignore" to 0
* Calculate the area manually.

[2018-07-05 06:46] amitguptagwl commented on #24
@AnshuOnGit I've updated the issue with both formats. Now it just a matter of a for loop. Let me know, in case you're not able to continue on this issue.

[2018-07-05 07:25] amitguptagwl opened #69 "Add category text box"
*Label Panel* (right side bar) shows only shape label and feature points. We want to show 1 more text box above the label text box for category.

The value of category should be saved to `labellingData.shapes.category`

file: `tags\label-panel.tag.html`

[2018-07-06 03:15] AnshuOnGit commented on #24
@amitguptagwl could you please give time till this weekend?

[2018-07-06 03:48] amitguptagwl commented on #24
no problem. Ask me the questions if you have related to the implementation

[2018-07-07 09:20] amitguptagwl commented on #69
done

[2018-07-07 09:20] #69 closed

[2018-07-07 11:06] DheenodaraRao commented on #59
Can you be more specific? I am interested to contribute.

[2018-07-07 11:20] amitguptagwl commented on #59
If you'll visit mentioned link, you'll notice a 3 line icon on top left corner. When you'll hover on that you'll see list of menu items.

We want to show the key mapping with each item floating to the right.

Open - `Ctrl + i`
Save - `Ctrl + e`

[2018-07-07 12:06] amitguptagwl opened #70 "create bootstrap tabs"
1. pen the following link : https://naturalintelligence.github.io/imglab/
2. Click on menu icon > settings

Settings modal window should have 2 tabs: General, and Data.

Current data should be shown under General tab.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/60591452-create-bootstrap-tabs?utm_campaign=plugin&utm_content=track

[2018-07-07 14:38] amitguptagwl commented on #53
Steps
check commented code in `workarea.tag.html`

[code]

[2018-07-08 06:06] HymEric opened #71 "Why face++ doesn't work?"
When I registered  to use face++ to use the API yesterday, it seemly doesn't work in https://naturalintelligence.github.io/imglab/. So I want to get some suggestions. Thank you!

[2018-07-08 07:05] amitguptagwl commented on #71
If you're using Face++ first time then it's probably at face++ side. Check #2 issue for more detail.

You'll have to report their customer care.

[2018-07-08 07:59] amitguptagwl commented on #68
Done. Check `dataformaters\coco.js`

[2018-07-08 07:59] #68 closed

[2018-07-08 08:42] amitguptagwl commented on #24
@AnshuOnGit As the issue is pending from a long time, I've implemented it. You can check `dataformats\pascal_voc.js` for implementation.

If you wanna give it a try, I've left the import part Pascal VOC -> labellingData

Some implementation help

[code]

[2018-07-09 06:32] HymEric commented on #71
Thank you. But face++ reply me they don't know this web imgLab tool.

[2018-07-09 07:38] amitguptagwl commented on #71
You must not mention imglab. They don't have any relation with this tool.

You just check browser console for the error or hit their curl command to check if it is working fine and report them if any error.

Otherwise tomorrow I'll check with my cred and will update you tomorrow

[2018-07-09 07:48] lopyos commented on #70
<settings-window>
    <style>
        #settings-wrapper{
            min-height: 500px;
            /* min-width: 400px; */
        }
    </style>
    <div id="settings-wrapper">
    	<div id="row">
    		<div class="col-xs-4">
    			<h3>Auto Save</h3>
    		</div>
    		<div class="col-xs-4">
    			<button class="btn btn-theme">General</button>
    		</div>
    		<div class="col-xs-4">
    			<

[2018-07-09 07:50] lopyos commented on #70
<div id="settings-wrapper">
    	<div id="row">
    		<div class="col-xs-4">
    			<h3>Auto Save</h3>
    		</div>
    		<div class="col-xs-4">
    			<button class="btn btn-theme">General</button>
    		</div>
    		<div class="col-xs-4">
    			<button class="btn btn-theme">Data</button>
    		</div>
    	</div>
        <small>We auto save labeling data in browser cache.</small>
        <br>

[2018-07-09 08:43] HymEric commented on #71
OK. But I can't find "console" after after it said "Error in connecting face++ API. Check console for more deetail". I'm looking forward to your checking.

[2018-07-09 08:55] amitguptagwl commented on #71
Are you getting this error you mentioned? If yes then this is the issue at face++ side. However I'll you tomorrow to find the issue. Today I'm busy in an issue

[2018-07-09 08:58] amitguptagwl commented on #70
Though it'll be helpful. But your effort should be counted. Create on fork button on top right. Do the changes, test it and then raise a PR.

[2018-07-10 09:38] amitguptagwl commented on #71
@HymEric I've confirmed that the Imglab application is not broken and working fine.

To report them you can either run below curl command with your detail.

[code]

Or open imglab, open console (press F12 key for that), and use your credential to use face++ API. Check the errors on console and copy paste here.

[2018-07-10 09:39] #71 closed

[2018-07-10 10:03] amitguptagwl commented on #70
@lopyos It looks like that your changes have added the tabs but when we press data tab, a blank page was expected.

[2018-07-10 10:30] lopyos commented on #70
@amitguptagwl  for that is needed to add some jquery to hide the information that is displayed in general...and on click !!! show the information that we want.

I'm kind of asking because is my first contribution and I don't know how do you prefer the things to be done .. do you want me to use jquery?

[2018-07-16 04:18] kuangmichael07 commented on #67
Hi @amitguptagwl as a newcomer I would love to give it a try. May I have some guidance for this isse?
Thank you

[2018-07-16 05:10] amitguptagwl commented on #67
Thanks for the initiative @kuangmichael07 . You may go through this [technical guide](https://github.com/NaturalIntelligence/imglab/blob/master/docs/technical.md) to understand technical part of this application.

This application use svg.js to draw shapes. [Here](https://github.com/svgdotjs/svg.draw.js#methods) is the link to draw polygon. You may create some jsfiddle to test it and then migrate

[2018-07-16 13:31] rclim-11 commented on #52
Apart from the UI, is the zoom capability supposed to work? I tried using the shortcut Alt-M but the image scale remains unchanged.

[2018-07-16 13:41] rclim-11 opened #73 "Firefox browser support"
****
ImgLab doesn't work in Modzilla Firefox

**To Reproduce**
Steps to reproduce the behavior:
1. Open ImgLab in Firefox
2. Attempt to open image files

**Console Errors**

**Device detail:**
 - OS: Windows 10
 - Browser Firefox Quantum 61.0.1 (64-bit)

[2018-07-16 14:35] amitguptagwl commented on #52
@rclim-11 zoom functionality is not implemented yet. the purpose of `Alt+M` is to select **move** tool or rather deselect any drawing tool.

[2018-07-16 14:42] amitguptagwl commented on #73
I'm really addicted to chrome. I can't find the tags folder in console>source in firefox. Marking it as bug but not able to debug.

[2018-07-16 15:49] HymEric commented on #71
The error of console is:
Failed to load resource: the server responded with a status of 401 ()
/imglab/#:1 Failed to load https://api-us.faceplusplus.com/facepp/v3/detect: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://naturalintelligence.github.io' is therefore not allowed access. The response had HTTP status code 401.
tags/plugins/facepp.tag.html.js

[2018-07-16 15:56] amitguptagwl commented on #71
Are you using the correct api_key and api_secret ?

[2018-07-16 15:58] HymEric commented on #71
Yes, I used.  But it is the free api_key and secret.

[2018-07-16 16:04] amitguptagwl commented on #71
Yes it is fine. Drop them an email stating that when you're using Face++ API, you're getting following error

"Failed to load https://api-us.faceplusplus.com/facepp/v3/detect: No 'Access-Control-Allow-Origin' header is present on the requested resource." The response had HTTP status code 401. However, when my friend is using his credentials then it is working fine.

Let me know what do they respon

[2018-07-16 16:07] amitguptagwl commented on #71
This problem is related to CORS. They manually enable it I guess

https://social.msdn.microsoft.com/Forums/en-US/bd430bd6-06fb-4bb3-9dfd-5d395c5dc6f5/face-api-javascript-api-no-accesscontrolalloworigin-header-error?forum=mlapi

[2018-07-16 20:48] kuangmichael07 commented on #67
@amitguptagwl Thanks for the explanation. When I was playing with the imglab, I found there is another problem that the polygon point waiting to be added is NOT exactly at mouse-coordinate position.
I will try your approach real quick and give a demo soon

[2018-07-17 02:37] #73 closed

[2018-07-17 02:40] #24 closed

[2018-07-17 03:11] amitguptagwl commented on #30
@rohitkrishna094 As this issue was open from a long time, I've fixed that. Here is the solution for learning purpose;

[code]

[2018-07-17 03:34] #30 closed

[2018-07-17 04:34] amitguptagwl commented on #34
Snippet for reference

[code]

[2018-07-17 04:34] #34 closed

[2018-07-17 10:07] rohitkrishna094 commented on #30
Oh sorry. Totally forgot about this issue. Thank you, that was a great learning opportunity.

[2018-07-17 11:22] amitguptagwl commented on #66
It'll make Imglab feature creepy I guess. So closing this issue.

[2018-07-17 11:22] #66 closed

[2018-07-23 10:42] amitguptagwl commented on #67
@kuangmichael07 I hope you're managing this issue well.

[2018-07-23 13:00] kuangmichael07 commented on #67
@amitguptagwl Amit, I am still working on it, I tried to set it up on jsfiddle by using the example code on svg.draw.js:
`var poly1 = new SVG('polygon').size('100%', '100%')
            .polygon().draw();

        poly1.on('drawstart', function(e){
            document.addEventListener('keydown', function(e){
                if(e.keyCode == 13){
                    poly1.draw('done');

[2018-07-23 13:11] amitguptagwl commented on #67
no problem. you may also take the help from other communities like stackoverflow etc. You may share your jsfiddle link here as well.

[2018-07-23 13:55] amitguptagwl commented on #67
Frankly speaking, I couldn't relate this jsfiddle with this problem. I was expecting to copy paste the same code presents on svg.js demo to draw a polygon. And then work on the solution.

[2018-07-23 15:59] amitguptagwl commented on #67
I believe you haven't included svg.draw.js in your jsfiddle.

[2018-07-23 17:39] kuangmichael07 commented on #67
I included svg.min.js. I believe svg.draw.js is just an extension of svg.js and should be included as well, right?

[2018-07-26 20:02] kuangmichael07 commented on #67
Thanks! I got your idea. working on it now. Will let you know once I get it done.
https://jsfiddle.net/kuangmichael07/5xsz9wd3/68/

[2018-07-27 01:32] amitguptagwl commented on #67
I've updated the code, now it can add the point to polygon. Now we've to work on how to find if mouse pointer is near to edge.

[2018-07-27 02:42] amitguptagwl commented on #67
@kuangmichael07 I've added the code to determine the correct point and add to the polygon. Next to do;

Ashape is drawn in 2 ways

* Manually: when user draw it
* Automatically: when user clicks on a thumbnail then we draw all the labels stored in labellingData varaible.

I've added the snippet for manual approach. We'll have to extract it in a function and will need to call that function at the t

[2018-07-27 07:16] #62 closed

[2018-07-27 17:44] kuangmichael07 commented on #67
@amitguptagwl Would you please point me to the place where you added the code for "determine the correct point and add to the polygon" and "the snippet for manual approach"?
Sorry I am not yet familiar with imglab's structure yet
Thank you

[2018-07-28 01:29] amitguptagwl opened #76 "Delete animation"
Tell us what feature you're looking for and how it can help you and others in general.

When a feature point is deleted from right panel, we want to give it some animation.
![screenshot from 2018-07-28 06-59-04](https://user-images.githubusercontent.com/7692328/43351716-c3311078-9233-11e8-923a-27a086cdc838.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://w

[2018-07-31 01:41] kuangmichael07 commented on #67
@amitguptagwl I made some change on your updated code and it works like now: https://jsfiddle.net/kuangmichael07/5xsz9wd3/131/
I think the codes in line 70 to 73 should update all the 'i's to 'p_i's[https://github.com/NaturalIntelligence/imglab/commit/9e1c24e661ac4bc9af097c3a56a5fefe9f6c84e7](url)

It now can add a new point by 'double click' and replot the polygon, but I believe the new polygon s

[2018-07-31 03:48] amitguptagwl commented on #67
I think I had updated 'i' to 'p_i', in next commit (though not completely sure). jsfiddle you mentioned is really good.

I can understand the issue you mentioned. But I believe it can be easily handle. Because we need only 2 points to know the distance which can be anywhere.

[2018-07-31 20:42] kuangmichael07 commented on #67
@amitguptagwl I have made some update again to fix three problems that I can think of:
1. It can now add new point btw the last and first points in polygon shape
2. It fixes the issue that new points can be added outside of the polygon by replacing "ploy.on(){}"(line 66) to "myCanvas.on(){}".
3. Change the algorithm to find the splice index in the polyArray by finding the closet line to the new po

[2018-07-31 20:48] kuangmichael07 commented on #67
Actually I do think that the best way to add new point is by dragging the line that the user wants to add a new point to. This would be more intuitive or we can not precisely decide which line the user wants to add a new point. I can quickly write a demo today to show the difference

[2018-08-01 01:45] amitguptagwl commented on #67
It's really a good demo. I'm not able to imagine how would it look when user will try to drag line. So better I'll wait before any comment.

[2018-08-02 03:06] amitguptagwl opened #77 "Support ONNX format"
Tell us what feature you're looking for and how it can help you and others in general.

https://github.com/onnx/onnx/blob/master/onnx/onnx.proto

[2018-08-03 04:15] kuangmichael07 commented on #67
@amitguptagwl I have made this new demo and now you can select the specific edge you want by a double click then add a new point(vertex) by right click :
https://jsfiddle.net/kuangmichael07/vjg9zsfk/113/

And this article explains why selecting the right edge is important:
https://social.msdn.microsoft.com/Forums/en-US/0fe0cbf1-84dc-4aec-93a9-8d90d9eb8184/adding-removing-points-along-a-polygon?for

[2018-08-03 08:56] amitguptagwl commented on #67
:)

The demo is having some issues and creating the point somewhere I'm not targeting.

I agree with the importance of selecting the edge to create point. But it's confusing. Since the thickness of the edge is just 1-2 pixel user will face difficulty to click on the edge to drag, select edge, or create point. Hence I defined a range of 10 pixels.

Since the user can always drag the point to exact

[2018-08-03 13:10] kuangmichael07 commented on #67
Okay cool, so should I start cleaning up the code and learn code migration now? I used to do pull request but I think it is different for this app, right?

[2018-08-03 15:24] amitguptagwl commented on #67
yes. your code should we added to workarea.tag.html file (this file is becoming big so we may think to refactor it). The code need to be called 2 times. So better if we take it in a function, and pass necessary parameters.

[2018-08-07 04:44] Onotoko opened #78 "Import data file"
Hi friend,
Thank you for the great application and do not know what is the feature import data file? what if It contains the annotations of image? If it true, what is the format?
Thanks!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/61822127-import-data-file?utm_campaign=plugin&utm_content=tracker%2F76641010&utm_medium=issues&utm_

[2018-08-07 05:01] amitguptagwl commented on #78
When you work with imglab, you can export data in multiple formats : COCO, Pascal VOC, dlib pts, dlib xml, nimn. ( some more will be supported in future)

It is quite difficult to annotate all the images in one go. You may want to save annotation data so you can continue later. Imglab by default save data in browser. However you can save the project file which can be imported later to resume your

[2018-08-07 05:01] #78 closed

[2018-08-07 18:36] kuangmichael07 commented on #67
@amitguptagwl
I have rewrite it in a function syntax:
https://jsfiddle.net/kuangmichael07/5xsz9wd3/213/
Not sure if you want it to make it immutable or not. I just write it in a conventional way to return a new polygon.
Let me know if it is not what you want, thanks

[2018-08-08 01:00] amitguptagwl commented on #67
As such this application is not be gonna used in any other application as library, I'm not really concerned about that.

[2018-08-08 03:35] kuangmichael07 commented on #67
good point. In that case should I write another function to pre-select the polygon by mouse that user want to add vertex?

[2018-08-08 05:33] amitguptagwl commented on #67
Hmm! I think yes.

[2018-08-14 10:27] amitguptagwl commented on #76
@Alvin-Voo Thanks for your and time. Yes this is what I meant animation wise. But I'm expecting the changes in [label-panel.tag.htm](https://github.com/NaturalIntelligence/imglab/blob/master/tags/label-panel.tag.html). You can define the CSS in style section and can take necessary action in `tag.deleteTag()`.

[2018-08-14 10:53] Alvin-Voo commented on #76
Hi @amitguptagwl . Yes, I made the changes in label-panel.tag.htm. Previously I tried using the jquery functions in tag.deleteTag() but its not really working properly. After jquery has changed the DOM li objects (by appending CSS classes), riotjs cannot update the `<li>` list properly. I am referring to below 2 lines:

[code]
targetShape.featurePoints would be wrong. Those `<li>` that has been 'a

[2018-08-14 11:12] amitguptagwl commented on #76
You need not to use jquery to attach the click event.

[code]

You can use `$(e.target) in above code

[2018-08-15 01:26] amitguptagwl commented on #76
@Alvin-Voo let me know if you're stuck

[2018-08-15 01:51] Alvin-Voo commented on #76
Hi @amitguptagwl

Yes. As I mentioned, I did try to add directly inside the tag.deleteTag function but it didnt work, with the code below.

[code]
This is the result. Those `<li>` that has been appended the 'animated' CSS class cannot be updated correctly by riotjs.
![peek 2018-08-15 09-47](https://user-images.githubusercontent.com/28261161/44127534-4f9926f0-a070-11e8-98f3-dd6493df5b2e.gif)

In AN

[2018-08-15 02:15] amitguptagwl commented on #76
Can't we use `$(e.target).parent('li')`?

No it's not necessary.

I hope this should work (just modified your code, not tested)

[code]

[2018-08-15 02:44] Alvin-Voo commented on #76
Ok @amitguptagwl  it works! But with a little modification since .parent() only traverse one level up

[code]

![peek 2018-08-15 10-40](https://user-images.githubusercontent.com/28261161/44128897-08ad76e4-a078-11e8-91c1-3022e63ae9eb.gif)

Let me know if I could create the PR. Thanks.

[2018-08-15 02:49] Alvin-Voo commented on #76
Ok, instead of that ugly syntax, I think we could use .parents()

[code]

[2018-08-15 04:59] amitguptagwl commented on #76
Yes I meant that. Sorry for typo. Please go ahead with PR

[2018-08-15 06:50] Alvin-Voo commented on #76
Hi @amitguptagwl . Done. Please review =)

[2018-08-15 07:01] amitguptagwl commented on #76
Done. I'll update the contributors list on README soon. or you can add your name in last.

[2018-08-15 07:01] #76 closed

[2018-08-16 03:33] Alvin-Voo commented on #70
Hi @amitguptagwl. Is this what you are looking for? =)

![imglab_ 70](https://user-images.githubusercontent.com/28261161/44185764-12354b80-a148-11e8-8ddd-2345605b6c09.gif)

[2018-08-16 07:12] Alvin-Voo commented on #14
Hi @amitguptagwl , may I recommend this awesome NW.js packager tool by jyapayne
https://github.com/jyapayne/Web2Executable
he also maintains a packager tool for Electron.js
https://github.com/jyapayne/Electrify

Web2Exe is very simple to use, it lets you specify almost all configurations you could think of for an app. This includes icons, windows settings (size) etc. It also exports to all major p

[2018-08-16 07:50] Alvin-Voo commented on #59
Hi @amitguptagwl , are you referring to the tooltip when mouse hover over the Open and Save?

I saw that you had jquery-ui installed. I did a small jsfiddle using jquery-ui:
![imglab_ 59](https://user-images.githubusercontent.com/28261161/44195487-ca282000-a16b-11e8-88f7-053b0cbe019c.gif)

Please tell me if this is what you are looking for. Thanks.

[2018-08-16 09:32] Alvin-Voo commented on #52
Hi @amitguptagwl , please refer below screenshot. Is this how you want it to look like?

![imglab_ 52](https://user-images.githubusercontent.com/28261161/44200755-f8146100-a179-11e8-96b9-1706bce4cb35.gif)
[code]
I wrote up the zoom-action.tag.html that you commented out in index.html. Of course, there's no logic to process the image yet, that will take me a while longer. But please let me know if

[2018-08-16 16:29] amitguptagwl commented on #52
Yes. your understanding is correct. And I love the way you confirm.

[2018-08-16 16:32] amitguptagwl commented on #59
Yes that can be a way. However I was aiming to show them all the time in the right side of each menu item. So the user can press relevant key instead of hovering the mouse to know.

[2018-08-16 16:36] amitguptagwl commented on #70
Yes for the starting. Later we'll add some options to Data tab.

[2018-08-17 01:29] amitguptagwl commented on #14
@Alvin-Voo the gif master!! Yes it looks really helpful. I'll play with this next week (hopefully). BTW how do you make all these GIFs?

[2018-08-17 02:00] Alvin-Voo commented on #14
@amitguptagwl I use peek
https://github.com/phw/peek
OSS rocks! ;)

[2018-08-17 02:27] Alvin-Voo commented on #70
@amitguptagwl Alright, I have created a PR for this. Please review. Thanks!

[2018-08-17 03:54] Alvin-Voo commented on #59
@amitguptagwl Like this?

![screenshot from 2018-08-17 11-52-48](https://user-images.githubusercontent.com/28261161/44247046-4118f380-a214-11e8-82d5-9386e8876935.png)

[2018-08-17 06:40] amitguptagwl commented on #59
Yes but without background color.

[2018-08-17 06:43] #70 closed

[2018-08-17 06:44] amitguptagwl commented on #14
Wow nice. I hope it'll work on my machine. will try after the vacation. Thanks

[2018-08-19 09:17] Alvin-Voo commented on #52
Hi @amitguptagwl I've finished the zoom function.
Screencast below may take a while to load...
![imglab_ 52_1](https://user-images.githubusercontent.com/28261161/44307182-72d6b980-a3d0-11e8-9004-e893d5b9d83b.gif)

Each image actually stores it's own instance of scale and scaled sizes.

I've changed 4 files in total: images-slider.tag.html, workarea.tag.html, trackinglines.tag.html & zoom-action.ta

[2018-08-21 09:07] amitguptagwl commented on #52
Yes! it was in plan. We can combine it with this PR. I also wanted to use a slider or text box in between of zoom in/out buttons. So users know the current zoom level.

We kept it globally because of usability. User needs to reduce opacity so that label shapes are easily visible. If I'll be labeling images, I would like to set it only once. So we can skip this.

One question (before I go in detail

[2018-08-21 09:55] amitguptagwl opened #81 "Import Pascal VOC format"
Currently imglab supports exporting labelled data in Pascal VOC format. We want to let users importing data in Pascal VOC format.

target file : [pascal_voc.js](https://github.com/NaturalIntelligence/imglab/blob/master/dataformaters/pascal_voc.js)

Please check how export feature is implemented in [pascal_voc.js](https://github.com/NaturalIntelligence/imglab/blob/master/dataformaters/pascal_voc.js

[2018-08-21 09:57] amitguptagwl opened #82 "Importing data in COCO format"
Currently, imglab supports exporting labeled data in COCO format. We want to let users importing data in COCO format.

target file : [coco.js](https://github.com/NaturalIntelligence/imglab/blob/master/dataformaters/coco.js)

Please check how the export feature is implemented in [coco.js](https://github.com/NaturalIntelligence/imglab/blob/master/dataformaters/coco.js)

<bountysource-plugin>

---
Wa

[2018-08-21 10:02] amitguptagwl opened #83 "Exporting data in YOLO format"
Currently imglab supports exporting labelled data in Pascal VOC, COCO format. We want to let users export data in YOLO format as well.

target folder : [data formaters](https://github.com/NaturalIntelligence/imglab/blob/master/dataformaters)

Please check how export feature is implemented for other formats in  [data formaters](https://github.com/NaturalIntelligence/imglab/blob/master/dataformaters

[2018-08-21 10:12] amitguptagwl opened #84 "Exporting data in Tensor flow format"
Currently imglab supports exporting labelled data in dlib, Pascal VOC, and COCO formats. We want to let users export data in tfrecord (tensor flow) format as well.

target folder : [data formaters](https://github.com/NaturalIntelligence/imglab/blob/master/dataformaters)

Please check how export feature is implemented for other formats in  [data formaters](https://github.com/NaturalIntelligence/img

[2018-08-21 10:21] amitguptagwl opened #85 "Refactoring: move dlib.js to dataformaters"
Move js/dlib.js to dataformaters folder. Don't forget to change the reference in index.html. And test the application if nothing is broken.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/62413267-refactoring-move-dlib-js-to-dataformaters?utm_campaign=plugin&utm_content=tracker%2F76641010&utm_medium=issues&utm_source=github)** We ac

[2018-08-22 02:34] Alvin-Voo commented on #52
Hi @amitguptagwl
I didn't take into account the feature points for zooming & I also didn't take into account the saving of the image scale. So, the feature points won't 'zoom together' as of now. And also the zoom scale is not saved (i.e. when you close and open the application and select the same image again, the image starts off as original size)

![imglab_ 14_1](https://user-images.githubuserco

[2018-08-22 02:48] Alvin-Voo opened #86 "Right panel not refreshed accordingly"
**Describe the bug**
I notice there's a bug with the refreshing of the right panel. Ideally it should refresh with the updated feature points every time when I add a new point or when I click a different image in the image-slider, but now, the panel only refreshes when I move the 'feature rectangle' with the move tool.

**To Reproduce**
Steps to reproduce the behavior:
1. Load an image
2. Add some

[2018-08-22 03:05] Alvin-Voo commented on #59
@amitguptagwl How bout this. The simpler the better?

![imglab_ 59](https://user-images.githubusercontent.com/28261161/44440565-34711280-a5fb-11e8-80ca-bd4fd29ee80f.gif)

[2018-08-22 03:14] amitguptagwl commented on #52
The whole purpose of providing zoom feature to enable users to label small parts of an image. So the label shapes should also zoom with the same level. However feature points should not be zoomed.

As we're using svj.js for labeling, https://github.com/svgdotjs/svg.panzoom.js can be used for this implementation.

It's fine. It is expected.

[2018-08-22 03:15] amitguptagwl commented on #59
This is good.

[2018-08-22 03:56] amitguptagwl commented on #86
This is not a bug but something not implemented. Hence you can't see any error in console.

## What is currently happening?

* When a shape is selected, it mounts right-side panel ( See line number [162](https://github.com/NaturalIntelligence/imglab/blob/master/tags/workarea.tag.html#L162) )
* When a landmark/feature point is selected, it mounts right-side panel ( See line number [197](https://git

[2018-08-22 04:53] Alvin-Voo commented on #59
@amitguptagwl  PR created. Thanks!

[2018-08-22 05:00] amitguptagwl commented on #59
Thanks @Alvin-Voo . merged

[2018-08-22 05:00] #59 closed

[2018-08-22 05:12] amitguptagwl opened #88 "Discontinue with v1"
As maximum users have been moved to v2 of imglab, we have to delete the code being used by only v1 with a warning message on README in advance.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/62451846-discontinue-with-v1?utm_campaign=plugin&utm_content=tracker%2F76641010&utm_medium=issues&utm_source=github)** We accept bounties via

[2018-08-22 09:33] Alvin-Voo commented on #52
Hi @amitguptagwl

I have been playing around with svg.panzoom.js but this library doesn't seems to work well with the existing libraries. What I did was just included in the library and added in the panZoom call.

[code]
![imglab_ 52_zoom_problem](https://user-images.githubusercontent.com/28261161/44455632-20480800-a631-11e8-95c0-817664b81c7b.gif)

I have addressed this, by adding in the input box

[2018-08-23 11:18] amitguptagwl commented on #14
@Alvin-Voo I tried Electrify which didn't work. I believe because it is not node.js project. But Web2Executable worked perfectly.

[2018-08-23 11:18] #14 closed

[2018-08-23 16:53] coderquill commented on #85
Hey @amitguptagwl , I would like to work on this issue. I just have to move dlib.js from js to dataformaters folder and change its reference in index.html from "js/dlib.js" to "dataformaters/dlib.js",right?

[2018-08-24 02:12] amitguptagwl commented on #85
Yes. But also run the application to check there is not any error in console

[2018-08-24 04:30] coderquill commented on #85
Okay, will do it . Thanks!

[2018-08-24 20:04] jaknowles97 commented on #65
Hey I'm new to contributing and have been attempting to add this feature. I used the lightbulb-action.tag.html as boilerplate but when I tried to add the css to the .labelpoint class, it gets completely ignored. I confirmed with dev tools that the css was being added/changed but it was being overwritten. I noticed a "r" attribute. Changing the value sucessfuly changes the landmark point size.

[2018-08-25 01:08] jaknowles97 commented on #65
![example](https://user-images.githubusercontent.com/28022134/44613352-2bcd3780-a7c7-11e8-8a47-b6a5c1f4b769.gif)
Above is a gif demonstrating the issue I am talking about. below is the code used to achieve these results.
[code]

[2018-08-25 02:32] amitguptagwl commented on #65
@jaknowles97 The radius is hard coded on https://github.com/NaturalIntelligence/imglab/blob/master/js/config.js#L126 . You'll have to change the code to take the value from **appConfig.featurePointSize**

[2018-08-25 04:02] jaknowles97 commented on #65
@amitguptagwl I got it to work but I am not understanding the appConfig.featurePointSize part of it. I just declared a global variable named "featurePointSize" in config.js, then in the action-landmark I set featurePointSize = e.target.value;

[2018-08-25 05:45] amitguptagwl commented on #65
If all the global configuration variable are the part of appconfig then the configuration can be saved so that user need not to it always. In this way, we need not to create many global variables

[2018-08-29 12:28] amitguptagwl commented on #52
You have strong brain cells. :smile:

It seems perfectly fine to me.

[2018-08-29 13:42] amitguptagwl commented on #52
@Alvin-Voo In case if you want to join this project as collaborator, please visit [this](https://github.com/NaturalIntelligence/imglab/invitations)

[2018-08-29 18:43] coderquill commented on #85
Hey @amitguptagwl , I have raised the PR, can you please review it?

[2018-08-30 02:52] JacobMarkBaird1998 commented on #83
Hi I am a newcomer and would like to contribute to this project, which would be my first. Has this task been assigned yet?

[2018-08-30 03:59] amitguptagwl commented on #83
@JacobMarkBaird1998 Yes you can go ahead with this. Let me know if you need any help.

[2018-08-30 05:53] amitguptagwl opened #92 "Refactor: Don't pass global variable"
Currently in code `riot.mount('workarea',{ img : imgSelected});`, workarea tag is being mounted by setting *imgSelected* option. *imgSelected* is global variable so it needs not be passed. Instead update `workarea.tag.html` to use it directly.

* Please remember to update all `riot.mount('workarea',{ img : imgSelected});` to `riot.mount('workarea');` after the changes.

<bountysource-plugin>

---

[2018-08-30 05:57] amitguptagwl opened #93 "Minify CSS"
To decrease the loading time, we should minify js, and css files. `fontello.css` is one of them which is less frequently get changed.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/62789036-minify-css?utm_campaign=plugin&utm_content=tracker%2F76641010&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](http

[2018-08-30 07:25] amitguptagwl commented on #58
Same as #86

[2018-08-30 07:25] #58 closed

[2018-08-30 07:27] #65 closed

[2018-08-30 07:29] amitguptagwl opened #94 "Change the color of landmark/feature point"
Same as #65 , we want to provide an option in action bar to let user decide the color of feature point. Currently it is red always.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/62791781-change-the-color-of-landmark-feature-point?utm_campaign=plugin&utm_content=tracker%2F76641010&utm_medium=issues&utm_source=github)** We accept bo

[2018-08-30 07:30] amitguptagwl commented on #67
@kuangmichael07 You were pretty much close. Are you still on this issue?

[2018-08-30 07:56] Alvin-Voo commented on #52
@amitguptagwl let me have a look

[2018-08-30 08:15] Alvin-Voo commented on #52
@amitguptagwl Alright.. I see it ;)

[2018-08-30 08:26] amitguptagwl commented on #52
Grt!!

I observed that zoom out button doesn't work when we directly click on that but works fin when we click on image or zoom out in first.

Moreover, is it possible to not to zoom feature point? If not I believe we can reset their radius. However this approach doesn't seem feasible as there can be multiple points and we'll have to reset radius of every point. Any other suggestion?

[2018-08-30 08:41] Alvin-Voo commented on #52
Heh? You mean when we first load the image and click zoom out? It works fine.

Because now the matrix transforms everything within the svg, you can check this out in the dev console, the library basically applies a viewport and a transform for e.g. transform="matrix(0.699999988079071,0,0,0.699999988079071,0,0) to all the components including 'circle' which are the feature points, so this is how it

[2018-08-30 09:26] amitguptagwl commented on #52
Not sure why I was facing the problem in first attempt. However it seems working as expected now. So please ignore it.

Agree. Please ignore it for the time being. I'll check later if some alternatives come in mind.

[2018-08-30 09:26] #52 closed

[2018-08-30 13:11] kuangmichael07 commented on #67
@amitguptagwl yes, sorry about replying late. I have found the way to select a polygon but figuring out how to select it among a bunch of polys, especially when there are overlapped polys. Will give you some update by the end of today

[2018-08-30 18:50] JacobMarkBaird1998 commented on #83
Thank you, @amitguptagwl . I have started working on this feature but when I try to run the index.html file saved in my local repository, it seems I am missing some lots of components. I have cloned the entire repository from GitHub so there should be no missing files, so I can't figure out what is wrong with it. Do you have any idea?
Thanks.
Here is a screenshot of what appears when I open index.

[2018-08-31 01:27] JacobMarkBaird1998 commented on #83
Thank you, I've been looking for resources to familiarize myself with the YOLO format. I've found resources that say the file extension is just .txt. Does this sound right? I'm using these pages as reference:
https://github.com/AlexeyAB/Yolo_mark/issues/60
http://guanghan.info/download/before_conversion.txt
http://guanghan.info/download/after_conversion.txt

[2018-08-31 01:38] amitguptagwl commented on #83
It looks good.
You can generate YOLO file from other tools as well and compare if both are same. https://github.com/tzutalin/labelImg

You can also check this python code for implementation reference: https://github.com/tzutalin/labelImg/blob/master/libs/yolo_io.py

Finally you can import generated file in other image annotation application to test.

[2018-08-31 01:39] JacobMarkBaird1998 commented on #83
Thanks a lot Amit!

[2018-08-31 02:28] amitguptagwl commented on #83
The image which is currently open should be written in YOLO format. However it'll good if we can ask user to "export current" or "export all".

For this we'll have to redesign export pop up window.

[2018-08-31 02:30] JacobMarkBaird1998 commented on #83
Okay, thank you. This is what I was going with until now.

[2018-09-01 14:26] JacobMarkBaird1998 commented on #83
I am getting this error when trying to call my "yoloFormater.toYOLO()" function defined inside my yolo.js file. Any idea what the issue is, and how I might solve it?
Thanks
![image](https://user-images.githubusercontent.com/42558631/44946808-b3273600-add9-11e8-8eda-ebca1e3a0425.png)
![image](https://user-images.githubusercontent.com/42558631/44946814-cafeba00-add9-11e8-902e-532f439814d1.png)
![ima

[2018-09-01 15:13] amitguptagwl commented on #83
I believe you're not including your JS file in index.html

[2018-09-02 02:01] amitguptagwl commented on #83
Have you tested that the generated file is working fine other application too?

You need to fork to submit the PR. You can't directly push in this repository.

Once your PR is successfully merged, you can submit it for the rewards on steemit.com which will be reviewed by utopian. So you need take care of it's tag, and format. Check this submission :
 https://steemit.com/utopian-io/@alvinvoo/projec

[2018-09-02 23:57] JacobMarkBaird1998 commented on #83
Thank you, Amit. Sorry for the easy questions, I'm just a newbie to GitHub and haven't used it outside of school at all haha

[2018-09-03 01:50] amitguptagwl commented on #83
No problem. My main aim of creating issues is to give the chance to new contributors and mentor them. Please check this link: https://github.com/Roshanjossey/first-contributions

[2018-09-03 11:37] sumit9696 commented on #94
can i work on this issue?

[2018-09-03 12:08] amitguptagwl commented on #94
Yes please. Please let me know what is your plan before raising PR so we can verify our understanding.

[2018-09-03 19:52] sumit9696 commented on #94
I am new to open source contributions. So, it would be helpful if you can guide me.

[2018-09-03 19:56] sumit9696 commented on #94
Do i need to make changes in tags\actions folder?

[2018-09-04 02:50] amitguptagwl commented on #94
Yes

[2018-09-07 14:28] kuangmichael07 commented on #67
@amitguptagwl Hi Amit, the demo now is able to select poly by double click and add a new point by a single click. but the remaining problem is that I am not sure why the mouse click events' x/y location is not exactly where I clicked it. Might need some help on this:
https://jsfiddle.net/5xsz9wd3/425/

[2018-09-08 01:02] amitguptagwl commented on #67
I appreciate your effort @kuangmichael07 . Without seeing the code, it looks like that you are not subtracting the position of SVG left, top from current mouse coordinates.

However, I'll still suggest that adding an extra point on the edge would be sufficient. So that it can be dragged to modify the shape. You can check [vecteezy editor](https://vecteezy.com) for an idea

[2018-09-08 04:13] forconz opened #99 "Uncaught TypeError: Cannot read property 'class' of undefined"
**Describe the bug**
I git clone the source code from https://github.com/NaturalIntelligence/imglab.git
I copy the source code to server, and use a domain to browse index.html
I can not see anything but Img Lab text, logo and donate button.
I press F12, and I get some errors

**To Reproduce**
Steps to reproduce the behavior:
1.  git clone https://github.com/NaturalIntelligence/imglab.git
2.  copy

[2018-09-08 07:06] amitguptagwl commented on #99
Don't access index.html in the browser directly. Instead, use some server to serve the contents : https://www.npmjs.com/package/http-server

[2018-09-08 15:17] #99 closed

[2018-09-09 01:51] amitguptagwl commented on #99
Do you mean you're not able to export data file when you use polygon shape to label an image? which data format you're exporting to?

[2018-09-09 14:40] williamrhp commented on #93
Hello Amit. I am a new developer who just completed a bootcamp program. I am looking for some open source projects to contribute to and I saw you have many issues labeled "first-timers". Would this be an appropriate project for me to work on? I have never contributed before, so please excuse me if I might take a while to pick up on how things work in terms of contributions. Thank you.

[2018-09-09 15:49] amitguptagwl commented on #93
@williamrhp Yes you're on the right project. Though there are some issues which are tagged as first timers but now they have been matured. But you'll definitely find some issues which can be easily done like this one. So go ahead. I'll try to guide you wherever you stuck.

[2018-09-09 15:50] amitguptagwl commented on #94
@sumit9696 any update?

[2018-09-09 15:51] amitguptagwl commented on #93
@williamrhp Try this one https://github.com/NaturalIntelligence/imglab/pull/90

[2018-09-09 15:52] #92 closed

[2018-09-13 23:18] alextychan commented on #94
Hi, I am new to contributing and would like to take over this issue. I've already implemented the feature using an external color picker called Spectrum. Once a color is picked, it is saved into a global variable via appConfig. It is still limited in the sense that changing the color for one point would change all the colors.

Please have a look.
![screenshot_2018-09-13 imglab - image annotation t

[2018-09-14 06:15] amitguptagwl commented on #94
Thanks for the changes @alextychan . I liked the way to represent your understanding. PR has been merged now.

[2018-09-14 06:15] #94 closed

[2018-09-14 16:06] alextychan commented on #53
Hi, I would like to take up this issue.

My understanding is that if a polygon is selected, then all its children/points in it should also be copied. If the selected items are points, then I only copy the points. But what if a user selects a mixture of both polygons and points?

e.g. user selects polygon#1001 and 3 points in polygon#1002. Should I limit it such that only polygon#1001 and all its c

[2018-09-15 02:33] amitguptagwl commented on #53
Sure @alextychan . Let me know if you need guidance.

[2018-09-17 01:39] amitguptagwl opened #104 "Bug: Mouse coordinates are wrong when zoomed in/out"
**About**
One of the contributors has discovered a bug in PR #95 which was raised to fix the issue #52. When a user zoom in/out the image, the function to get mouse coordinates return wrong value. Hence a feature point gets drawn on wrong position.

**To Reproduce**
Steps to reproduce the behavior:

1. Add a shape.
2. Add a point
3. Zoom In/out
4. Add a new point

**Screenshots**
![imglab-zoom-biu

[2018-09-17 01:39] amitguptagwl commented on #104
@Alvin-Voo in case if you wanna check.

[2018-09-17 02:56] Alvin-Voo commented on #104
@amitguptagwl Alright let me look at it

[2018-09-17 03:07] amitguptagwl commented on #104
Thanks

[2018-09-17 07:16] alextychan commented on #104
I have found the cause of the bug and have fixed it in my local branch. Just waiting for my copy-paste functionality be approved before I push the fix.

[2018-09-18 07:54] amitguptagwl opened #106 "Document newly added functionalitities"
@alextychan has recently added a feature to copy paste labels across the images. We've to create a demo GIF to display it on Features.md / README.md. We also need to add keymappings in https://github.com/NaturalIntelligence/imglab/blob/master/tags/shortcuts.tag.html

@Alvin-Voo has added a feature for zoom in/out. We need to create a demo GIF to display it on Features.md / README.md to aware users

[2018-09-18 07:58] amitguptagwl opened #107 "Add shortcuts for zoom in/out"
We've to add shortcuts for zoom in/out feature in [zoom-action.tag.html](https://github.com/NaturalIntelligence/imglab/blob/master/tags/actions/zoom-action.tag.html) to improve usability. We also need to mention them in [shortcuts.tag.html](https://github.com/NaturalIntelligence/imglab/blob/master/tags/shortcuts.tag.html)

[2018-09-20 03:07] amitguptagwl commented on #104
@alextychan I hope you're taking care of it.

[2018-09-20 03:07] #53 closed

[2018-09-20 05:50] amitguptagwl commented on #104
Oh. I even found that it is happening on all the zoom level.

[2018-09-20 06:24] amitguptagwl opened #108 "Bug: "Alt+a" fails to select all the shapes and result in error"
**Describe the bug**
It is expected that when a user press "Alt+a", all the shapes on the current image should be selected. However it is not happening, and the error on the console is

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://imglab.ml/
2. Import an image and draw some shape
3. Open console (F12)
4. Press "Alt+a"

**Console Errors**
[code]

**Additional context**
The code

[2018-09-20 06:32] amitguptagwl commented on #104
1. if a shape is moved in same zoom level, then there is no issue.
2. if a shape is created on 100% zoom then we move it on 90%,
it takes distance and shape relevant 90%.
Now if we zoom back to 100% it doesn't change the size and location

[2018-09-20 06:39] Alvin-Voo commented on #104
Yes, I see it too. zoom -> move shape -> zoom again, the shape will jump.
My guess is that something to do with wrong scaling, because after moving will have new positions. I am occupied with something now, but I could look at it maybe tomorrow or Saturday. Sorry guys.

[2018-09-23 07:21] #108 closed, assigned to nobody

[2018-09-23 07:26] amitguptagwl opened #111 "Update development guidelines"
We created [technical.md](https://github.com/NaturalIntelligence/imglab/blob/master/docs/technical.md)  to help new developers to understand the project structure and it's component better. However as the new features are being added, and existing code is being refactored, we need to improve the guideline.

[2018-09-23 07:45] kumaran-14 commented on #107
I'd like to claim this

[2018-09-23 08:17] amitguptagwl commented on #107
Yes please go ahead. Let us know if you face any difficulty.

[2018-09-23 14:02] amitguptagwl commented on #85
This issue is free to be picked any new contributor.

[2018-09-23 14:04] amitguptagwl commented on #83
This issue is ready to be picked by any contributor. You can check #97 for implementation help and other discussions.

[2018-09-23 14:08] alextychan commented on #104
Solved and closed.

[2018-09-23 14:08] #104 closed

[2018-09-23 14:51] alextychan commented on #10
@amitguptagwl, would you consider migrating to react or vue? I find that riot.js doesn't scale that well, especially when the number of files we have is growing.

I have some experience with Vue js and I find it to be easy to use. It's also pretty lightweight and easier to learn as compared to React.

Official website: https://vuejs.org/v2/guide/
Github repo: https://github.com/vuejs/vue

[2018-09-28 09:26] amitguptagwl opened #113 "Custom category of a shape is not being saved"
**Describe the bug**
User is not able to set the custom category of a labeled shape.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a shape on the image
2. Select the category from the already given categories
3. Create another shape
4. Select the previous shape
5. You can see previously selected category.
6. Now change to some category which is not in drop-down. The category will no

[2018-09-29 06:04] derekdkim commented on #113
I'm a beginner but would I be able to try my hand at this? I might be a bit slow but I think I can figure it out eventually.

[2018-09-29 06:37] amitguptagwl commented on #113
@derekdkim This change is perfect for beginners. So please go ahead. But please update if you're not able to complete the issue.

You can check label-panel.tag.html, and store.js to find relevant functionality.

[2018-09-29 14:08] derekdkim commented on #113
Awesome, I'll have a go at it!

[2018-09-30 01:32] derekdkim commented on #113
I think I have a fix. Please review the PR when you have the time. If you make any changes, please let me know what you did so that I can learn from it.

[2018-09-30 03:48] amitguptagwl commented on #88
@derekdkim your previous issue is not fixed yet. Check my comments on PR, please.

[2018-09-30 04:23] #113 closed, assigned to nobody

[2018-09-30 04:33] amitguptagwl opened #115 "Copy labelled shape meta data to pasted shape"
@alextychan has implemented a nice feature to copy paste labeled shapes in #53 . As a part of this issue, we've to copy paste the metadata of the labeled shape to the pasted shape: category, labels, tags, and attributes.

[2018-09-30 05:48] alextychan commented on #107
Hi, @kumaran-14. Any updates on implementing this feature?

[2018-09-30 15:53] amitguptagwl commented on #107
As there is no response from @kumaran-14 , this issue can be picked by any other contributor.

[2018-09-30 16:13] derekdkim commented on #88
I deleted the files that were only being used by old.html and updated the readme to reflect that we've deleted the legacy version. I'm currently working on deleting some references in CSS that are reference elements or classes that only exist in old.html.

I don't have much experience with bootstrap or jQuery, so I will just leave it the same way.

I'm testing the index.html to make sure I don't d

[2018-10-01 15:58] derekdkim commented on #88
I'm not sure what the reason could be but as I was testing index.html (new version) on different browsers, I noticed that the left-hand toolbar is missing. This is only a problem in Chrome and IE, but Firefox and MS Edge are unaffected. So I reverted back to the commit where I only updated the readme, and it still didn't work. Do you know what the reason for this could be?

[2018-10-01 16:54] alextychan commented on #88
@derekdkim, please open a pull request and we'll work from there.

As for searching for dead javascript code, I would suggest looking at removing whatever's not in the current index.html as those should not be needed. E.g. any scripts that aren't imported in the current index.html but were used in the old one.

[2018-10-01 17:05] ngohgia commented on #107
Can I take a stab at this?

[2018-10-01 17:07] alextychan commented on #107
@ngohgia, go for it.

[2018-10-02 00:54] amitguptagwl commented on #88
@derekdkim were you testing by running index.html directly in the browser or by running it on a server?

[2018-10-02 01:08] derekdkim commented on #88
I was testing it by running index.html directly in the browser but @alextychan suggested a workaround in the PR. It works perfectly with the live-server.

[2018-10-02 01:09] #88 closed

[2018-10-02 01:12] derekdkim commented on #106
I can work on the GIFs and documentation if you don't mind me taking 3 issues.

[2018-10-02 01:17] amitguptagwl commented on #93
This issue is released to be picked by any other contributor.

[2018-10-02 03:08] derekdkim commented on #106
Okay, I'll start working on the hotkeys documentation and the zoom feature. Then I'll open a PR and update it when #115 is done.

[2018-10-03 21:27] alextychan commented on #10
@amitguptagwl, just a quick update. I'm still working on porting this project over to Vue.js. It's taking a while.

[2018-10-04 00:31] amitguptagwl commented on #82
Yes sure. Let me know if you need any guidance

[2018-10-04 00:34] amitguptagwl commented on #10
Please remember there is one PR in progress whoever completes first will not face conflict issue

[2018-10-05 01:49] gowrimanoharir commented on #85
Hi @amitguptagwl I would like to pick this up.

[2018-10-05 08:44] amitguptagwl commented on #85
Yes please go on.

On Fri 5 Oct, 2018, 7:19 AM Gowri M Rajasekaran, <notifications@github.com>
wrote:

[2018-10-05 21:54] gowrimanoharir commented on #85
@amitguptagwl  Thank you, created the PR. Also tested in Chrome, Firefox and Edge did not see any console errors except for below which exists in Master as well (before the move).

Loading failed for the <script> with source http://127.0.0.1:8080/js/thirdparty/svg-pan-zoom.min.js

[2018-10-06 01:38] amitguptagwl commented on #85
"svg-pan-zoom.min.js" lib must have been removed. Can you please check and remove if it is being referred from the code?

[2018-10-06 01:38] #85 closed

[2018-10-06 15:49] gowrimanoharir commented on #85
@amitguptagwl Fixed the svg min zoom console error and tested to make sure it is not thrown anymore.

[2018-10-08 13:58] Acemad commented on #93
Hello, if nobody is working on this, can I do it ? Thank you .

[2018-10-08 14:46] amitguptagwl commented on #93
Sure. Try it.

[2018-10-08 14:48] amitguptagwl commented on #107
@ngohgia any update?

[2018-10-08 14:49] amitguptagwl commented on #82
@jbovee any update?

[2018-10-08 14:52] ngohgia commented on #107
I'm sorry. It turns out I can't commit my time with this project. I'm sorry for the delay.

[2018-10-08 15:00] amitguptagwl commented on #107
No problem. I'm marking this issue unassigned then.

[2018-10-08 20:04] Acemad commented on #93
Pull Request #120 created, please review. Thank you.

[2018-10-09 00:44] jbovee commented on #82
I'm progressing pretty well. I've just about got the `fromCOCO` function done, and made the change to `openfile.js` in order to be able to test it. I noticed that the COCO format doesn't store the type of polygon (rect, circle, polygon) for each shape. Will there be an issue with importing if the objects in the resulting `shapes` array have a `type` value of `undefined`?

Also, I noticed an error

[2018-10-09 01:39] amitguptagwl commented on #82
1. As the shape type is not being saved. Use bbox and create rectangle shape from that.
2. Please raise a PR for the fix first then PR for COCO import.

[2018-10-09 02:10] amitguptagwl commented on #106
@derekdkim Please checked: https://github.com/NaturalIntelligence/imglab/blob/master/docs/features.md

[2018-10-11 01:11] derekdkim commented on #106
Sorry, I noticed that it doesn't link properly and there are also some formatting issues (particularly with the size of the gifs I submitted) that I would like to fix up. I'll get back to you with a PR some time in the next couple of days.

[2018-10-12 16:41] jbovee commented on #82
I've got the function completed, and my tests of it seem to work fine. I'll raise the two PRs later this evening for you to check.

[2018-10-12 16:57] jbovee commented on #82
Actually, I have a question I almost forgot about. Is the polygon tool functional? I can't figure out how to get it to stop creating points and finish the polygon. And because of that I haven't been able to thoroughly test it.

[2018-10-13 03:41] amitguptagwl commented on #82
Yes, it is working. You'll have to press enter to finish it.

[2018-10-15 08:37] jbovee commented on #82
I've raised the two PR's; one for fixing the `bbox` error in `toCOCO`, and the other for supporting importing COCO data.

After taking a closer look at the way each polygon type was represented in the COCO formatted data, I realized that although the type of polygon isn't explicitly stored, it is possible to determine the type based on factors such as the length of the points array inside `segment

[2018-10-16 09:54] #82 closed

[2018-10-16 09:55] amitguptagwl commented on #107
Assigning to @bonez0607

[2018-10-23 07:08] alextychan commented on #10
@amitguptagwl, I would like to ask for help with supporting the nimn file format. The problem I'm facing is as follows. The objects that store the data for shape and feature points all contains dynamic keys. E.g
[code]
I've found that nimn doesn't support dynamic keys well as object structure has to be provided during the encoding and decoding process. One workaround I'm thinking of is to store th

[2018-10-23 07:35] amitguptagwl commented on #10
there is a concept of "varmap" which let you save dynamic object. However, think twice you probably will not need it .

Moreover,
1. Please remember that this changes should work fine with previously saved nimn file.
2. I have to do some breaking changes in Nimn. But not getting the time for that. It'll require changes in imglab too.
3. We can provide an option to save data as json. But ..
   * We

[2018-10-23 07:54] alextychan commented on #10
@amitguptagwl, could you provide an example of how to build an object structure with "varmap"? I couldn't find any examples the nimn specs.

[2018-10-23 08:09] amitguptagwl commented on #10
Imglab is already saving data in nimn format. So I'm assuming that
particular change should be there. Have you found any issue with that
implementation? Because if you're gonna change any approach, we'll have to
take care of backward compatibility.

On Tue 23 Oct, 2018, 1:24 PM Tai Yau, <notifications@github.com> wrote:

[2018-10-23 09:11] alextychan commented on #10
Woops, forgot to take a look at the project itself and got stuck on the spec sheet. I'll work on it and seek help if I get stuck on anything. I've made quite a few changes and backward compatibility will be something to work on future iterations.

[2018-10-24 04:18] amitguptagwl commented on #10
some detail about the decision of using nimn format.

# About Nimn
I've created Nimn format around 8-10 months ago. It saves approx 60% space in comparison of JSON and it is around 2-3 times faster than JSON.stringify. However, when I heard about other data formats doing the same, I've planned some big changes in nimn format based on [BigBit format](https://github.com/nimndata/bigbit).

## Status

[2018-10-27 04:01] alecGraves opened #126 "COCO bbox format"
**Describe the bug**
The ```bbox``` category in an annotation for the ```COCO JSON``` data format is slightly different than official [COCO Documentation](http://cocodataset.org/#format-data). The documentation states that the ```bbox``` string should map to an array as follows:

[code]

while the current implementation maps the ```bbox``` sting the following json object:

[code]

**To Reproduce**

[2018-10-27 04:09] amitguptagwl commented on #126
@alecGraves Thanks to reporting this bug. Will you mind to fix it?

[2018-10-27 06:51] alecGraves commented on #126
Ok, I will try to fix it.

[2018-10-27 07:29] amitguptagwl commented on #126
Thanks. Let me know if you need any support.

On Sat 27 Oct, 2018, 12:21 PM Alec Graves <notifications@github.com wrote:

[2018-10-27 09:32] sharadxkumar opened #128 "Classification with no segmentation"
I just started using imglab and thanks for providing such a useful tool.  I was wondering if its possible to just classify an image without having to segment it first with a rectangle(or any other shape)?   For example, I just want to classify the image with following classes (dog, cat, sheep, others) without having to draw a rectangle around the animal.  Is that possible in the current version of

[2018-10-27 10:44] amitguptagwl commented on #128
Yes, imglab internally supports it. However, UI is not updated to take that input. Also mentioned in #86

If you're a developer, I'll suggest you to rais a PR. I can guide you where to do the changes.

[2018-10-28 07:02] amitguptagwl opened #130 "Upgrade to Vue"
@alextychan is trying to upgrade imglab implementation in Vue.js. He has already done most of the part. You can find latest changes in [vue](https://github.com/NaturalIntelligence/imglab/tree/vue) branch. As the code on this branch is written from the scratch, you'll find some missing files/folders which are present in master branch.

Please check vue brnach to complete this change.

[2018-11-03 14:07] opendefense commented on #107
Could we have a "default zoom" setting as well? For example, I work in smaller image sets and having them zoom in as soon as I select the file would make for a speedier, especially when working with 1000's of images.

[2018-11-04 05:39] amitguptagwl opened #134 "Add default zoom level to settings"
We have to add an option in settings to set the default zoom level when an image loads. It should not impact current functionality. Settings should also saved in browser's cache.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/65709796-add-default-zoom-level-to-settings?utm_campaign=plugin&utm_content=tracker%2F76641010&utm_medium=i

[2018-11-04 05:39] amitguptagwl commented on #107
@opendefense I've created #134

[2018-11-06 21:54] flurmbo commented on #115
Hey, do you still need this? I'd like to work on it if that's okay

[2018-11-06 22:31] amitguptagwl commented on #115
Yes @flurmbo . Please go on.

[2018-11-07 02:59] alecGraves opened #136 "Importing in COCO format changes shape.type"
**Describe the bug**
Stored type 'rect' shape objects are turned into type 'polygon' when imported from a .json with the coco.js dataformatter

**To Reproduce**

1. ```console.log(shape)``` in [the toCOCO loop in dataformatters/coco.js](https://github.com/NaturalIntelligence/imglab/blob/1876598a333045d053acb0d4e69af1f5f6717a7d/dataformaters/coco.js#L107)
2. ```console.log(labellingData[ image.file

[2018-11-07 03:36] amitguptagwl commented on #136
@jbovee will you be able to check the issue?

[2018-11-07 12:41] amitguptagwl commented on #136
Thanks for your attention.

On Wed, 7 Nov 2018 09:57 jbovee, <notifications@github.com> wrote:

[2018-11-11 02:20] amitguptagwl opened #138 "Console error in firefox browser: input is undefined"
**Describe the bug**
file open is not working in firefox but working in chrome.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://imglab.ml/
2. Click on "open" in the left top menu bar.
3. Try to open previously saved data file
4. See an error in the console

**Console Errors**
[code]

**Device detail
 (please complete the following information):**
 - OS: Ubuntu
 - Browser firefox

[2018-11-11 02:36] amitguptagwl commented on #136
@jbovee I believe you wanted to check if the saved shape is rectangle then don't create polygon. What's about this condition;

[code]

[2018-11-13 12:34] amitguptagwl commented on #136
I've fixed this change. @alecGraves I hope you should not see the issue anymore. Feel free to reopen the issue if you still face it.

[2018-11-13 12:34] #136 closed

[2018-11-16 02:48] amitguptagwl opened #140 "Add Cookie alert"
As we're using google analytics to analyze the traffic on our websites, it's good to display cookie alter to the user. As a part of this issue, we want to implement that.

Follow this [commit](https://github.com/bigbit/bigbitjs/commit/c7b8036a14e8b1fd0313c8b227971ca864b7f7f4) to implement it in this project

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.b

[2018-11-23 05:04] kenrubiooo commented on #83
Hi @JacobMarkBaird1998

Is dw = 1/image_width and dh = 1/image_height?
Also, how do you get shape.bbox.x and shape.bbox.y?

I wanted to convert the float form of x,y,w,h from the yolo format to a format like 240, 240, 100, 150 where (240, 240) are centers of the boxes and (100,150) are the width and the height of the boxes. Thank you!

[2018-11-23 05:38] amitguptagwl commented on #83
@kenrubiooo  You're trying to open the html file directly in the browser. Try http-server or live-server to run the app locally to test. Check this [guide](https://github.com/NaturalIntelligence/imglab/blob/master/docs/guide.md#offline-installation) for more detail.

[2018-11-23 06:41] ruyiweicas opened #141 "how to export attribute info?"
Tell us what feature you're looking for and how it can help you and others in general.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/66548954-how-to-export-attribute-info?utm_campaign=plugin&utm_content=tracker%2F76641010&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm

[2018-11-23 08:19] amitguptagwl commented on #141
Can you please explain your question for better understanding? Imglab is the tool to annotate images and export data in the format supported by other object recognizers. Some of them may support to have attributes. You can't extract the attribute only information.

[2018-11-24 00:46] #140 closed

[2018-11-24 06:54] vardan10 commented on #138
@amitguptagwl -- Seems a compatibility issue, has a simple fix. [Check this](https://developer.mozilla.org/en-US/docs/Web/API/Event/target#Compatibility_notes)

Will raise a PR for this.

[2018-11-24 08:45] #138 closed

[2018-11-26 03:14] ruyiweicas commented on #141
I see that imglab can label attribute information, but when I use mini or other data formats, I cannot export the attribute information I have labeled, such as gender, age, etc. What I want to ask is, how can I export the attribute information I have labeled?thank you @amitguptagwl

[2018-11-26 03:30] amitguptagwl commented on #134
@ruyiweicas are you fixing this issue?

[2018-11-26 08:19] amitguptagwl commented on #141
Please reopen this issue, if you still have the question.

[2018-11-26 08:19] #141 closed

[2018-11-28 05:37] ruyiweicas commented on #134
@amitguptagwl  no ....

[2018-11-28 07:19] amitguptagwl commented on #134
Then you have posted your question on the wrong thread. Please be sure to comment on the right thread or raise a separate issue.

[2019-01-06 21:00] fl82hope opened #144 "I want to use ellipse tool, but keyboard shortcut ALT+e is used by Chrome, so I cannot use the ellipse tool. And I looked at the tags.js, and it didn't have the code to implement drawing ellipse, so I am wondering if this function works?"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

**Console Errors**

**Device detail
 (please complete the following information):**
 - OS: [e.g. Ubuntu]
 - Browser [e.g. chrome, firefox]

**Additional context**

[2019-01-07 08:54] amitguptagwl commented on #144
@fl82hope no this shape is not implemented yet. Though it is easy to implement, I'm getting time to take it on the priority. Sorry

[2019-01-17 15:42] jacquesj1 opened #145 "Can'T load project"
**Describe the bug**
Hello I started with the tool on windows10 and save my project with the nimn file format.
But when I want to load the project (open the nimn file) nothing appears

**To Reproduce**
Steps to reproduce the behavior:
1/run cmd tool on windows10
2/ run live-server in the cmd tools
3/ click on the "menu" button and then "open"
4/ select the *.nimn file

**Device detail
 (please com

[2019-01-17 15:45] amitguptagwl commented on #145
the project file contains the detail of labeled images without image data. You'll have to import the images first and then open the project file.

[2019-01-19 10:55] amitguptagwl commented on #145
@jacquesj1 I hope your problem must have been solved. Please reopen the issue or create new if you face any problem.

[2019-01-19 10:55] #145 closed

[2019-01-21 16:37] jacquesj1 commented on #145
Yes It solves the problem.
Best regards

Le sam. 19 janv. 2019 à 11:55, Amit Gupta <notifications@github.com> a
écrit :

[2019-01-25 22:16] neelan29 opened #146 "Feature point labels are saved as default even if labels are provided"
I annotate image with feature points and provide different names for them (eg. feature point 0 was renamed as left eye, feature point 1 was renamed as right eye, etc). However, when I save the XML files and open them, the feature point labels are still in their default names as "0", "1", "2".

Is there no other way to change the default labels?

![image](https://user-images.githubusercontent.com/2

[2019-01-26 01:50] amitguptagwl commented on #146
It is quite difficult to understand the issue with the information you've
provided. Can you please share the browser detail? If you see any error on
browser console? What is the issue you're facing with point tool? Are you
using shortcuts? Or any other detail that you can share.

On Sat, 26 Jan 2019 03:46 neelan29, <notifications@github.com> wrote:

[2019-01-28 01:46] amitguptagwl commented on #146
@neelan29 In my understanding, `dlib` don't support custom name for feature point, hence they're saved with their index position as name. But if you save data as project file ie nimn, so the same data can be retrieved.

[2019-02-07 09:52] MElHussieni opened #147 "Can I get numpy array of uploaded image or read it in cv2 ?"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/69750935-can-i-get-numpy-array-of-uploaded-image-or-read-it-in-cv2?utm_campaign=plugin&utm_content=tracker%2F76641010&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F76641010&utm_medium=

[2019-02-07 10:38] amitguptagwl commented on #147
If I can understand your question correctly you're looking for the option to export labeled data which can be read by cv2? if not can you please explain it.

Just to inform that, none of the exported data files contains image data including the project file.

[2019-02-07 11:00] MElHussieni commented on #147
I know that exported data files contain image data, but I need the image to read it in cv2 and then pass for classifier in Keras.
So I do not need the exported label in case of classification, otherwise I can use XML or JSON

[2019-02-07 11:20] amitguptagwl commented on #147
No! we don't export image data in data files.

You'll have to read the image file directly from the filesystem.

[2019-02-07 11:20] #147 closed

[2019-03-12 06:27] asalria opened #148 "Add possibility to load pic URL"
Currently you can only tag pics with are loaded from a folder.
This feature would allow you to tag a pic which is loaded using its URL.

[2019-03-12 08:02] asalria commented on #148
I want to use it in Mechanical Turk, where images are loaded by a URL

[2019-03-12 08:15] amitguptagwl commented on #148
hmmm, ok. We can add that feature. Your contribution will be helpful.

[2019-03-21 07:36] wentieniu opened #149 "我想在项目的基础上做二次开发，但是没有看懂代码"
我想在项目的基础上做二次开发，但是我没有看懂代码，前辈能跟我简单介绍一下，项目是用什么语言，和技术开发的吗？

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/71696912-?utm_campaign=plugin&utm_content=tracker%2F76641010&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F76641010&utm_medium=i

[2019-03-21 14:30] amitguptagwl commented on #149
编程语言：node.js
如果您正在寻找贡献，可以加入以下论坛。

https://github.com/socialat/team
https://discord.gg/Rp8FQ7Z

[2019-03-25 16:30] kozlovvski commented on #148
Hey, can I try to handle this one? Cheers

[2019-03-25 16:34] amitguptagwl commented on #148
Yes, please.

On Mon, 25 Mar 2019 22:00 Michał Kozłowski, <notifications@github.com>
wrote:

[2019-03-26 00:02] amitguptagwl commented on #148
@kozlovvski I'm tagging the issue as assigned. Update us, if you face any issue.

You can also join the [team](https://github.com/socialat/team) of opensource developers and the [discord app channel](https://discord.gg/Rp8FQ7Z).

[2019-03-26 07:04] kozlovvski commented on #148
Thanks, we'll be in touch

[2019-03-28 00:49] #149 closed

[2019-04-26 07:22] mohanpb opened #152 "Delete key not working on Mac"
**Describe the bug**
I am not able to delete a wrong annotation in Mac using Chrome.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  imglab.ml/#. Open an image
2. Click on Polygon. Try to make an annotation. And then try to delete it.
3. It fails

**Screenshots**

Even after pressing delete key multiple times, it is not working.

**Console Errors**

None

**Device detail
 (please comp

[2019-04-28 08:00] amitguptagwl commented on #152
Thanks for reporting the issue. Unfortunately, I don't have mac to test it so this fix may take time. However, if you're a developer I'll appreciate if you can debug and fix the issue.

In addition of this, can you please share the console logs? It may help us to fix the issue without having mac.

[2019-05-07 19:46] gitclem commented on #152
There are two issues.

1. The Mac does NOT have an alt-key.  (It has an "option" key in which some applications sometimes treat as an alt key.) .  This means that there is no Alt-A to do select all.

2. The key that is labeled "delete" is generates backspace.

These two fixes can be applied to **workarea.tag.html** which fixes the problem for me.

change line 31:
           ` if ((e.keyCode == 46)

[2019-05-08 00:43] amitguptagwl commented on #152
`Ctrl` key is used by browser for most of the operations and `Alt` key is used for some of the operations like opening the menu, access plugins etc. Hence, we'll have to write some modules which effectively manages keys across browsers and devices.

[2019-05-10 23:27] gitclem commented on #146
@amitguptagwl, I believe your understanding is wrong.  I posted this question to Davis King:

I [posted](https://blog.dlib.net/2017/02/high-quality-face-recognition-with-deep.html?commentPage=3) May 8, 2019:

[code]
...

**Davis King** replied on May 9, 2019

I think it would be better if you could put the named labels instead of numbers.  (I suppose to make it backwards compatible, maybe add a ch

[2019-05-11 05:15] amitguptagwl commented on #146
Let's give it a try. You manually modify the file for correct labels or rather expected labels. Process it with dlib. If you everything is ok. Share the file and dlib version you're trying here.

[2019-05-13 17:55] gitclem commented on #146
Ok, but it'll be awhile.  I'm still learning the library....  Thanks for looking at this!

[2019-05-13 23:36] gitclem commented on #146
From the dlib library, I looked more closely at the imglab program's code in `dlib/tools/imglab/src/metadata_editor.cpp`

It's well documented if you read it **carefully** (which I missed the first time I tried it!) but it's a bit clumsy to use and not so obvious.  It seems to me that your imglab program is trying to emulate it but you missed part of what it can do.  However, your program is a lot

[2019-05-14 07:00] amitguptagwl commented on #146
Hmm. agree. As I remember few years back when I was trying this library I faced the issue with string labels. Hence, I want someone to test it before we do the changes in this library. Changes are not big but we need to ensure they're not impacting other users

[2019-05-14 17:18] gitclem commented on #146
The way I'd frame it, is since the dlib claims it allows named labels and if they don't work, then it's on the dlib people to fix any problem.

I'm more worried about your existing users that might get blindsided if you start supporting named labels and it breaks their existing work.

I have another area of concern I have of potential inconsistency between your code and dlib's imglab.  It seems to

[2019-05-15 00:28] amitguptagwl commented on #146
Since this is the web application, it has a restriction to know the path of the file.

[2019-05-17 10:43] Partha2k opened #154 "Attributes data are not being exported in any chosen output format."
Adding attributes such as Gender and age shown below image is not reflected in the output label file for all formats. (PASCAL VOC, COCO, Dlib XML, DLib pts)

![Screenshot from 2019-05-17 16-06-16](https://user-images.githubusercontent.com/25670426/57922902-76936000-78be-11e9-9989-e0227ea88afb.png)

![Screenshot from 2019-05-17 16-12-57](https://user-images.githubusercontent.com/25670426/57922967-a

[2019-05-20 03:19] amitguptagwl commented on #154
Please refer the issue https://github.com/NaturalIntelligence/imglab/issues/141

Feel free to comment or reopen the issue, if your doubt is not clear.

[2019-05-20 03:19] #154 closed

[2019-05-20 04:28] Partha2k commented on #141
What if I want attributes data in PASCAL VOC format? Can those attributes data be pushed into that?

[2019-05-20 10:13] Skpu commented on #106
Hi Amit, i am trying to store all annotated json data in mongodb. Can you please guide ?

[2019-05-21 12:48] amitguptagwl commented on #141
it should be if supported by the format specified. Can you please share the expected and actual exported VOC file?

[2019-05-21 12:50] amitguptagwl commented on #106
@Skpu You must create a new issue or find the relevant issue to comment.

[2019-05-22 09:31] davelip commented on #93
Is there a task automation script to replicate this?

[2019-05-24 17:58] gitclem commented on #152
I found this library, which seems like it will solve the various OS keyboard compatibility issues:  https://wangchujiang.com/hotkeys/

[2019-05-24 22:18] gitclem commented on #56
(I was going to file this as a new bug, but instead, this bug should be reopened.)
** Better Bug Description **

Output for box should be converted to integers (floor, ceil, round) as appropriate for `dlib`.  The library dlib apparently does not like non-integral coordinates.  I got this error msg when running their example code with the XML output file generated by imglab:

[code]
This makes sens

[2019-05-24 22:40] gitclem commented on #146
This is an issue for me.  The `dlib` library is expecting the XML file to give the relative path name for each image files.  If one is working with thousands of images, it makes sense to organize the files by directories.

I have put together a XML file with the named labels, so my next step is to try to get dlib to train using XML and image files but it's not working because of this directory pro

[2019-05-30 01:34] amitguptagwl commented on #93
not yet. But there should be.

[2019-05-30 01:34] #93 closed

[2019-05-30 01:35] amitguptagwl opened #156 "TECH: a task to minify CSS"
As the title suggests we should create some task which can minify css.

[2019-05-30 01:37] amitguptagwl commented on #152
Thanks it'll be helpful.

[2019-05-30 01:42] amitguptagwl commented on #56
Thanks for reporting. Though, reopning. It's better to create new issue.

[2019-05-30 01:46] amitguptagwl commented on #146
You can go ahead with option 1. However, I see one more possibility. We can give a text box in the label section (right side panel) where you can specify the relative path. While generating the output file, it can be considered. Another option can be to generate the path based on the image category set by the user.

[2019-06-04 22:24] gitclem commented on #56
Rats... in another github project, they wanted me not to create a new issue.... but rather reopen an old one.

[2019-06-07 15:29] leonardopalma commented on #152
i have solved the issue tell me if is good solution for your program #152

[2019-06-08 06:30] amitguptagwl commented on #152
I'm thinking to use the 3rd party lib suggested by @gitclem . Otherwise we'll have to keep patching our code.

[2019-06-14 17:59] gitclem opened #158 "Clickable labels instead of typing; others"
I've been playing around with this code (and trying to learn riot js).

Much of the UI mechanics of the program is exactly what I want.

But there are a number of issues that I would like have addressed before it can be used for my company's purposes.

I do recognize this is volunteer effort.  I think I can get my boss to help fund this project to get what we want in this program, which is to make

[2019-06-21 11:50] amitguptagwl commented on #158
Thanks for finding this tool suitable for your project. What can it make it more effective is to highlight the users. Currently, approx 4L images gets annotated every month but there is no list of users.

I'm looking for more contributors in term of effort than money because I'm quite busy to make it effective and implement my all ideas about this project.

Yes, that is the plan. You may find some

[2019-06-25 18:43] beckstev commented on #141
Hi @amitguptagwl,

I am currently trying to save the `attribute` feature of imglab to a `.json` file or find a way to convert `.nimn` to `.json`. Do you have any suggestions?

__Please see my example:__

Here I wanna label the speed limit sig, which limits the max speed to 50 a.u.. As you can see, I created an attribute called `limit` with the value 50.

![imglab](https://user-images.githubusercon

[2019-06-26 08:35] blueclowd commented on #56
Any live link to V2?

[2019-06-28 04:38] amitguptagwl commented on #56
v2 is live. v1 has been removed. So no separate link for v2

[2019-06-28 04:42] amitguptagwl commented on #141
As I remember, imglab lets you save the project file in json/nimn both formats. However, in case if you don't find then open browser console and export the value of `labellingData` variable.

[2019-07-06 17:24] hitesh-19 commented on #152
I don't have knowledge about Mac, but if Del. key not working and there is no other alternatives so may be browser have something to del. that thing i am not sure, because i really don't have any knowledge about these type of bugs.

[2019-07-08 20:40] AndrewDHill opened #159 "Accept a quality control value for each annotation. Perhaps this appears as a different color for each polygon?"
I would like to be able to pass a variable with each annotation that could indicate its level of quality. If someone has reviewed an annotation, then it would get a verified field in the json (currently a datetime in our project). Ideally we could open our json and images to immeadiately see which polygon need attention and which were verified and pass our QAQC.

[2019-07-09 00:25] amitguptagwl commented on #159
@AndrewDHill Do you mean a field like a `verified` flag? I doubt it'll be a good idea to give it on field level. However, my plan is to provide it on an image level.

[2019-07-09 15:06] AndrewDHill commented on #159
In our dataset an image might have multiple annotations, some of which have been verified and others than need to be adjusted. If I'm looking at 25 polygons and most are green and a few are red, it is easy for me to see which I need to focus on.

In another application, it would be nice to color code the annotations by classification and have a pattern or line size indicate (or something else?) wh

[2019-07-11 04:36] blueclowd commented on #56
May I know if the current link is https://imglab.in/ ?

I tried but still got floating point in the dlib xml. Any ideas?

[2019-07-13 05:34] #134 closed

[2019-07-15 05:04] jay-thakur opened #160 "Annotation"
we tried imglab & result is something like this - (
![image](https://user-images.githubusercontent.com/2772085/61196383-f33e9100-a6eb-11e9-8761-e03048430fd5.png)
)
image

But
we want to generate mask like [this](https://github.com/alexgkendall/SegNet-Tutorial/blob/master/CamVid/trainannot/0001TP_006690.png).

Could any one please suggest, how to do this ?

[2019-07-15 16:56] gitclem commented on #56
See my comment above from May 24.  A Math.round is(was) missing.

[2019-07-22 04:10] amitguptagwl commented on #160
beyond imglab.. though keeping this issue open in case if you get some help by other contributors/visitors.

[2019-07-23 09:30] jay-thakur commented on #160
@amitguptagwl  ok. thanks.

[2019-07-27 16:51] amitguptagwl commented on #56
@gitclem implemented your changes
@blueclowd please check if your issue is fixed.

[2019-08-15 02:46] AlexGagne10 opened #161 "Polygone tool"
Hi, first of all, thank you for your amazing work.
I have a difficulty with polygon tool. It's impossible to close my shape. Do you have any solution ?
Thank alot in advance

[2019-08-16 00:19] amitguptagwl commented on #161
how are you closing the polygon? Please use the Enter key. It is completely working fine for me. Open the PR if you still face the problem.

[2019-08-16 00:19] #161 closed

[2019-08-16 00:25] amitguptagwl opened #163 "Add functional test"
We're planning to add functional tests using cypress js.

[2019-08-16 01:51] AlexGagne10 commented on #161
I'm so sorry. Thank you very much.

[2019-08-18 02:51] rohitkrishna094 opened #164 "Which library are you using to generate contributors image on README.md?"
This is just a question based issue. Sorry if this is the wrong place to ask it.

For this repo in the [README.md](https://github.com/NaturalIntelligence/imglab), towards the bottom, there is a section titled `Contributors`. Is that being auto generated? If so, how?

I mean this part.

![Untitled](https://user-images.githubusercontent.com/18495886/63219556-01942880-c142-11e9-9105-87b5349c52a0.png)

[2019-08-18 12:39] amitguptagwl commented on #164
well there is nothing wrong if you ask here. However, there is opensource.stackexchange.com which can help you in such questions better.

Now to answer your question, you need a server which can call Github APIs and render a svg that can be placed on your README.

[2019-08-18 13:04] #164 closed

[2019-08-18 13:05] rohitkrishna094 commented on #164
Thanks a lot. This was the first repo that I contributed to as part of open source. I am starting a practice project and remembered that this repo had that feature. Anyway thanks for accepting my first PR last year. Have a great day

[2019-08-19 00:48] TheDeathConqueror opened #165 "Speed up labeling"
I found a new tool makesense who is trying to do the same thing that you're already doing. Probably with some new thoughts in mind. I recently asked the author how that tool is doing differently: https://github.com/SkalskiP/make-sense/issues/23

The author responded that we need multiple clicks while labeling in imglab. Though I didn't understand it well as I can control most of the things with `t

[2019-08-19 01:27] amitguptagwl commented on #165
@TheDeathConqueror Thanks for letting me know. I didn't test that tool yet so I can't comment which one is better. However, there are multiple things which help to speed up the labeling already.  Eg hotkeys, copy-paste labels, 1 click landmarking, auto suggestions, etc.

Many users visit the site directly are not aware of such hidden features. Probably, we should inform them about such features on

[2019-09-05 12:29] ChickenPaella opened #166 "There are omission and mismatch between shortcuts.tag.html and guide.md"
Hello. I pulled this project and used. But it was hard to know how to complete making polygon from keymap. And also there are difference between shortcuts and guide. So I fix and add it.

[2019-09-13 05:04] kaartz opened #168 "Image Annotation Status"
This is a great tool. Thanks for the initiative. I have a feature request. Hope you can accommodate it.

When loading a folder of images there is no way to track the annotated images in the image slider area. We have to manually check the images if it's annotated or not. It would be nice if a tick mark or some visual notification on the image thumbnail in the image slider would be easy to track th

[2019-09-14 03:04] amitguptagwl commented on #168
Agree. This is already in our plan. but the time problem.

[2019-09-23 10:05] sanketrk commented on #81
Is this feature complete?

[2019-09-27 01:31] #166 closed

[2019-10-01 18:45] lexcorp16 commented on #163
Hi @amitguptagwl how do you intend to approach this and how can I help?

[2019-10-01 20:51] srivastava9 commented on #130
hey I am a newcomer, want to take this issue.

[2019-10-03 00:53] amitguptagwl commented on #163
@lexcorp16 thanks for showing your interest. Well! we can create a folder say `ft` or `functionatests` within this repo. Setup cypress repo inside, write a script that can start imglab locally and run the functional tests against it.

[2019-10-04 03:37] gunnarsundberg opened #169 "Import Data in pts format"
The ability to import data in pts format would be extremely useful for annotating images across multiple sessions and adding annotations to existing sets. My research group would greatly appreciate this :-)

[2019-10-07 03:47] amitguptagwl commented on #169
Import for pts format or any other format should not be difficult task. Unfortunately, I'm running busy with my current commitments. So it xan be delayed. I would appreciate, if you can create a PR for the same.

I didnt understand cache part in your statement.

[2019-10-08 09:07] Guzzler commented on #111
Hey I would like to claim this. What would be your recommendation on in what areas you would like to improve this document

[2019-10-23 17:07] rohitkrishna094 commented on #10
So I have two questions about this.

1) Has it already been decided that this project will be ported to Vue js only and not React?
2) I see that port to vue hasn't been done yet? Is there any roadmap for it or is that feature stale now?

If you plan to move to react, I would like to be involved as I have learnt react recently. I have never tried Vue though.

[2019-10-24 00:23] amitguptagwl commented on #10
There is a separate branch for this transformation that you can have a look at. I believe Vue would be a better option.

[2019-11-03 21:05] Staars commented on #169
I began with some work on this, but I am still not sure about the ideal user interface.
While testing with the ibug_300W...-dataset, I added some functions to the image-slider-file to auto-import the pts-file for the image-file with the same name, when a directory is imported.

This seems to work, but I have some questions:

- How important are the naming conventions inside "imglab" for the whole

[2019-11-05 04:22] amitguptagwl commented on #169
How is this related to imglab?

Accuracy is must

In general, image-name can be used as id. please check implemented code to get this answer.

[2019-11-07 12:18] Zeeshan75 commented on #152
<code>fn</code>  + <code>delete</code> worked for me

[2019-11-12 20:14] VincentVerweij opened #174 "Issue while creating polygon and moving scrollbars"
**Describe the bug**
When we are drawing a polygon on an image and we are zoomed in on the image. While drawing we want to use the scrollbars to continue drawing a part of the image that is not visible in the screen. When moving the scrollbars, the crossfire (mouse cursor) doesn't align anymore with the actual point of the polygon.

**To Reproduce**
Steps to reproduce the behavior:
1. Import an im

[2019-11-28 00:40] amitguptagwl opened #175 "Categories"
check if there is an issue with the current category box.

https://github.com/NaturalIntelligence/imglab/pull/162/files
https://github.com/NaturalIntelligence/imglab/pull/135

[2019-12-30 07:10] allenday commented on #84
See also
https://github.com/tensorflow/models/blob/master/research/object_detection/dataset_tools/create_pet_tf_record.py

[2020-02-17 13:25] dvkeulen opened #176 "Keypoint dataset creation"
I am currently trying to create a COCO style keypoint dataset for pose estimation. For this I am using the _point_ tool but the right column panel doesn't seem to recognise the annotation; I can't add a category. Is this normal behaviour or am I using the program wrongly?

kr,

David

[2020-02-21 01:10] amitguptagwl commented on #176
Probably I didn't understand your concern. But a point-tool is to mark feature-point inside a label shape. So if you select the feature-point that you created, the right-side panel shows you the information of its parent label shape.

[2020-03-03 09:07] #176 closed

[2020-04-13 11:14] alex89607 opened #177 "does not load project in "nimn" format"
**Describe the bug**
does not load project in "nimn" format with polygons

**To Reproduce**
it can be reproduced at online(https://imglab.in/#) and local(http://localhost/imglab) version at the same time:

2. open picture, draw one polygon.
3. save project at NIMN format ("test.nimn")
4. reload page and open same picture
5. select picture at bottom
6. open project("test.nimn")
7. click on picture

[2020-06-05 19:25] ksinghj commented on #165
@amitguptagwl What if the label tab is brought up with the most recently drawn label pre-selected?

[2020-08-01 18:25] crayne commented on #152
f+delete is the normal way to do a forward delete on the Mac.  The "delete" key does backward delete

[2020-08-28 04:05] s0r2637 opened #181 "Can imglab load a pre-existing json file of annotations and apply them on the respective images for display?"

[2020-09-11 06:54] KushalBhanot commented on #111
Hey! I would like to work on this. Can you please guide me?

[2020-09-14 00:36] amitguptagwl commented on #111
Thanks to show the interest. Go through the code and understand it. Then check the documentation if it is suitable for any new contributor. If not then we'll have add necessary documentation and diagrams

[2020-09-30 16:09] Adityashukla2000 opened #182 "Full display issue"

[2020-10-03 04:51] #182 closed

[2020-10-03 18:03] imrahul361 commented on #152
Is this issue still open? If yes, Can you please brief me about it?

[2020-10-03 22:36] gitclem commented on #152
I don't know.  I'm no longer employed at the job where I encountered this.  So, I haven't used this code in months.

My understanding is the problem is the Mac control/option/command keys work differently from windows control keys (which may be yet different again from Linux) within JavaScript.

I think there needs to be a conditional to check which OS is running, then interpret the keys appropria

[2020-10-22 17:58] urielintemperie commented on #63
Hi. I can help with this. Could you assign it to me?

[2020-10-26 13:56] #63 closed

[2020-11-09 03:50] kiki1981 opened #185 "Are the annotated images safe, are they only saved locally?"

[2020-11-15 02:05] amitguptagwl commented on #185
Yes. Images are not saved anywhere. But labeling information is saved to your browser local storage. You can even work offline

[2020-11-15 02:05] #185 closed

[2020-11-17 11:11] Kalaschnik opened #186 "[Feature Request] Export Attributes & Tags for Non Project Formats"
I just tested your application and it really suits my purposes. However, I realized after exporting my work in a non-project format (e.g., JSON, XML), I miss all the attributes and tags I defined. I’m aware of #154 and #141; yet, both are closed with no actual answer.
In other words, I don’t see how I can use your application when there is no way to export my annotations in a typical exchange form

[2020-11-17 21:52] franz101 commented on #177
Having another bug when opening:
TypeError: point.map is not a function. (In 'point.map(val => val * scale)', 'point.map' is undefined)

[2020-11-18 07:15] amitguptagwl commented on #186
I started with nimn format as it is binary format and much smaller than JSON. However, due to my engagement with other, I'm not able to give any time to this project. Hence, I'm expecting contributors I can guide.

Coming back to your concern. Different different projects need data in different formats. imglab supports to export data in
* dlib XML
* dlib pts
* Pascal VOC
* COCO

Definitely you'll

[2020-11-19 22:36] Zumbalamambo opened #187 "Go to the next or previous Image"
How do I go to the next image or the previous image?

[2020-11-19 22:49] #187 closed

[2020-11-29 21:09] AndreyStille opened #188 "I spent several hours for your shitty open source app"
coco json file when uploading dismiss with images ids

[2020-11-29 21:12] AndreyStille commented on #188
![BBBBBBBBBBBBB](https://user-images.githubusercontent.com/65295663/100553763-62dcfe00-3298-11eb-995a-7489a35b0f5d.png)

[2020-11-29 22:14] Kalaschnik commented on #186
Thanks for pointing out the local storage. I was not looking there but that's actually the information I was looking for :)

[2020-11-29 22:51] #188 closed

[2020-12-02 16:39] #186 closed

[2020-12-24 06:01] viraldevpb commented on #106
Hey, I would like to work on this issue could you please assign it to me?

[2020-12-28 04:40] H210711 opened #189 "Question with image resolution conversion"
After annotating the image file, save it as a json file and change the image resolution to recall it, nothing is displayed. How shall I do it?

[2021-01-01 15:58] amitguptagwl commented on #189
I didn't probably got your question. But just for in summary. In the exported file, as I remember, it saves image resolution with image name. When you import the json back, You need to import the same images back. I believe it should work fine in this case if the particular image is not labelled. Otherwise it may give some error in back

[2021-04-02 18:57] nodrivercar opened #190 "Export to Pascal VOC faulty when based on imported data"
If a dlib xml is imported and the data is exported as pascal VOC the xmax and ymax values are wrong. It seems like the additions in lines 38/39 of pascal_voc.js are receiving string values for shape.bbox.x and  shape.bbox.w this leads to a string concatenation when an int addition is intended.

**To Reproduce**
Steps to reproduce the behavior:
1. import data in dlib xml format
2. Click on save -->

[2021-06-17 00:13] Abdul-Mukit opened #191 "Append 0 to default label names for single digit labels."
**Describe the bug**

The default label names for the first 10 labels are (1-9). However, they should be (00, 01, ... 09). Otherwise, when dlib reads the XML files and reorders the labels in ascending order the labels get messed up. For instance, 13 labels from (0-12) are mapped like the following by dlib before training. The right column is the original label and order of the landmarks in the .XM

[2021-10-04 05:32] sims-keshri commented on #111
@KushalBhanot are you working on this?

[2021-10-05 01:06] amitguptagwl commented on #111
This is open to pick by anyone

[2021-12-28 14:26] StuLast commented on #163
Hi, this issue appears to still be open.  If that's the case, I would very much like to see if I can help.  I'm an advocate of good testing practices so this issue really "calls out" to me.

[2022-05-08 19:37] hayagreevvaradarajan commented on #115
Hey, can I still work on this feature? If so, could you please assign it to me? I would like to get started if this is still needed.

[2022-05-17 07:17] Petros626 opened #192 "Only Plugin for Face recognition?"
Hello,

I would like to know. which Plugins are supported, is it only face++?

Thank you

[2022-05-18 06:14] amitguptagwl commented on #192
Yes

[2022-05-23 00:42] amitguptagwl commented on #115
@hayagreevvaradarajan I think this is already done. Let me check if it works as expected. You can probably help to review the PR.

[2022-09-13 02:33] jgm-payu opened #193 "Can this annotation tool include a timer, such that when bounding box is drawn, the dime duration is also recorded in the same xml file for the coordinates?"

[2022-09-14 00:32] amitguptagwl commented on #193
nope

[2022-09-22 19:18] yashdodani commented on #107
Is this issue still open?